.form {
  display: flex;
  align-items: center;
  justify-self: center;
  flex-direction: column;
  .error,
  .success {
    margin-bottom: 15px;
  }
  .error {
    color: var(--torch-red);
  }
  .success {
    color: var(--lime-green);
  }
  .password,
  .reset-password {
    padding: 10px;
    margin-bottom: 15px;
  }
}
