.form {
  display: flex;
  align-items: center;
  justify-self: center;
  flex-direction: column;
  .error,
  .success {
    color: var(--error-color);
    margin-bottom: 15px;
  }
  .success {
    color: var(--success-color);
  }
}

:global .input {
  padding: 10px;
  margin-bottom: 15px;
}

:global .btn {
  padding: 10px;
  margin-bottom: 15px;
}
