.form {
  display: flex;
  align-items: center;
  justify-self: center;
  flex-direction: column;
  input {
    padding: 10px;
    margin-bottom: 15px;
  }
  button {
    padding: 10px;
    margin-bottom: 15px;
  }
  .error,
  .success {
    color: var(--error-color);
    margin-bottom: 15px;
  }
  .success {
    color: var(--success-color);
  }
}
