@import "../../../../../../node_modules/react-image-lightbox/style.css";

.arr--image-lightbox {
  .icon.loader {
    color: var(--arrow-c-brand1);
  }

  .ril__toolbarRightSide {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
  }

  .ril__toolbar {
    bottom: 0;
    top: auto;
  }

  img.ril__image {
    width: unset;
    max-width: 100%;
  }

  .ril__zoomInButton {
    position: relative;
    border-right: 1px solid var(--arrow-c-mono7);
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNyIgaGVpZ2h0PSIxNyIgdmlld0JveD0iMCAwIDE3IDE3Ij4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0ibm9uemVybyI+CiAgICAgICAgPHBhdGggZD0iTS0zLTRoMjR2MjRILTN6IiBvcGFjaXR5PSIuMzg0Ii8+CiAgICAgICAgPGcgZmlsbD0iI0ZGRiI+CiAgICAgICAgICAgIDxwYXRoIGQ9Ik04IDBoMXYxN0g4eiIvPgogICAgICAgICAgICA8cGF0aCBkPSJNMTcgOHYxSDBWOHoiLz4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPgo=")
      no-repeat center;
  }

  .ril__zoomOutButton {
    position: relative;
    border-right: 1px solid var(--arrow-c-mono7);
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNyIgaGVpZ2h0PSIxIiB2aWV3Qm94PSIwIDAgMTcgMSI+CiAgICA8ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9Im5vbnplcm8iPgogICAgICAgIDxwYXRoIGQ9Ik0tMy0xMmgyNHYyNEgtM3oiIG9wYWNpdHk9Ii4zODQiLz4KICAgICAgICA8cGF0aCBmaWxsPSIjRkZGIiBkPSJNMTcgMHYxSDBWMHoiLz4KICAgIDwvZz4KPC9zdmc+Cg==")
      no-repeat center;
  }

  .ril__zoomInButton,
  .ril__zoomOutButton,
  .ril__closeButton {
    width: 48px;
    height: 48px;
  }
  .ril__navButtons {
    outline: none;
    border-radius: 0;
  }

  .ril__toolbarItem .arr--hyperlink-button {
    position: unset;
    svg {
      position: relative;
      top: 10px;
    }
  }
}
