.wrapper {
  margin-bottom: 6px;
}

.headline {
  margin-bottom: var(--arrow-spacing-xxs);
  color: var(--arrow-c-mono2);
  font-weight: var(--arrow-fw-semi-bold);
}

.wrapper .headline {
  display: inline;
  margin-bottom: var(--arrow-spacing-xs);
}

.dark {
  color: var(--arrow-c-mono2);
}
.light {
  color: var(--arrow-c-invert-mono2);
}
@media only screen and (min-width: 768px) {
  .headline {
    margin-bottom: var(--arrow-spacing-xs);
  }
}
