.container {
  margin: var(--arrow-spacing-m);
}

.issues {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: var(--arrow-spacing-l);
  grid-row-gap: var(--arrow-spacing-l);
}

.date {
  display: flex;
  justify-content: center;
  margin-top: var(--arrow-spacing-s);
  font-weight: var(--arrow-fw-bold);
  line-height: var(--arrow-lh-2);
  font-size: var(--arrow-fs-xs);
}

.info {
  text-align: center;
}

.dark {
  color: var(--arrow-c-mono2);
}

.light {
  color: var(--arrow-c-invert-mono2);
}

@media (min-width: 768px) {
  .date {
    margin-top: var(--arrow-spacing-m);
  }
  .issues {
    grid-template-columns: repeat(4, 1fr);
  }
  .container {
    margin: var(--arrow-spacing-l);
  }
}

@media (min-width: 992px) {
  .issues {
    grid-column-gap: 70px;
  }
  .container {
    margin: 0;
  }
}
