.two-col-seven-story {
  padding: 0 var(--arrow-spacing-s);
  .wrapper {
    margin: var(--arrow-spacing-xs) 0;
  }
  :global .arr--author-time span {
    top: -3px;
  }
  :global .arr--read-time span:nth-child(2) {
    position: relative;
    top: 1px;
  }
  :global .arr--section-name .section-tag {
    line-height: unset;
  }
  .first-card {
    padding: 0;
    margin-bottom: var(--arrow-spacing-m);
    :global .arr--responsive-hero-image .story-icon,
    :global .arr--fallback-hero-image .story-icon {
      height: 64px;
      width: 64px;
      position: absolute;
      bottom: 10px;
      left: 10px;
      z-index: var(--z-index-1);
    }
    :global .live-icon {
      animation: blink 1.5s linear infinite;
      vertical-align: middle;
      height: 24px;
      width: 24px;
    }
  }
  .storycard {
    margin-bottom: var(--arrow-spacing-l);
    :global .arr--read-time > span:nth-child(1) {
      padding: 0 var(--arrow-spacing-xs) var(--arrow-spacing-xs);
    }
    :global .arr--read-time > span:nth-child(2) {
      margin-bottom: var(--arrow-spacing-xxs);
    }
    :global .read-time-wrapper {
      align-items: center;
    }
  }

  .border-full {
    padding: var(--arrow-spacing-m);
  }

  .other-cards {
    margin-top: var(--arrow-spacing-l);
    :global h6 {
      font-size: var(--arrow-fs-xs);
    }
    :global .arr--content-wrapper {
      margin-bottom: var(--arrow-spacing-l);
    }
    :global .arr--responsive-hero-image .story-icon,
    :global .arr--fallback-hero-image .story-icon {
      height: 24px;
      width: 24px;
      position: absolute;
      bottom: var(--arrow-spacing-xs);
      left: var(--arrow-spacing-xs);
      z-index: var(--z-index-1);
    }

    :global .live-icon {
      animation: blink 1.5s linear infinite;
      vertical-align: middle;
      height: 24px;
      width: 24px;
    }
  }


  @keyframes blink {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  .ad-wrapper {
    grid-column: span 2;
    margin: var(--arrow-spacing-l) 0;
  }
}

@media (min-width: 1025px) {
  .two-col-seven-story {
    padding: 0;
    .ad-wrapper {
      margin: var(--arrow-spacing-l) var(--arrow-spacing-xl);
    }
    .wrapper {
      display: grid;
      grid-template-columns: 8fr 0.1fr 4fr;
      grid-column-gap: var(--arrow-spacing-l);
      margin: var(--arrow-spacing-m) 0;
    }
    .divider.dark {
      border-left: 1px solid var(--dark-border);
    }
    .divider.light {
      border-left: 1px solid var(--light-border);
    }
    .first-card {
      margin-bottom: 0;
    }
    .storycard {
      :global .arr--read-time > span:nth-child(1) {
        padding: 0 var(--arrow-spacing-xs) 0 var(--arrow-spacing-xs);
      }
      :global .arr--read-time > span:nth-child(2) {
        margin-bottom: 0;
      }
    }
    .other-cards {
      margin-top: 0;
      :global h6 {
        font-size: var(--arrow-fs-tiny);
        line-height: normal;
      }
    }
  }
}
@media (min-width: 768px) {
  .two-col-seven-story {
    padding: var(--arrow-spacing-xl) var(--arrow-spacing-l);
  }
  .other-cards {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-column-gap: var(--arrow-spacing-l);
    margin-left: -8px;
  }
  .first-card {
    :global h2 {
      font-size: var(--arrow-fs-xl);
      font-weight: var(--arrow-fw-bold);
      line-height: normal;
    }
    :global .arr--story-card > div:nth-child(2) {
      margin: 0;
      width: 100%;
      background-color: unset;
      padding: 0;
      position: unset;
      bottom: unset;
    }
    :global .arr--responsive-hero-image .story-icon,
    :global .arr--fallback-hero-image .story-icon {
      height: 24px;
      width: 24px;
    }
  }
}
