<!--- Start of Metype Feed Widget --->

<script type = 'text/javascript'> window.talktype = window.talktype || function(f) { (talktype.q=talktype.q||[]).push(arguments);}; </script>
<script src='https://fea.assettype.com/quintype-metype/assets/application.js' async />
<div id='metype-container' style="width: 60%; margin: 0 auto;" data-metype-account-id='1003587' data-metype-host='https://www.metype.com' data-metype-primary-color='#000'></div>
<script type='text/javascript'>window.talktype(function() { window.talktype.commentWidgetIframe(document.getElementById('metype-container')); }); </script>

<div id='feed-metype-container' class='feed-iframe-container' data-metype-account-id='1003587' data-metype-host='https://www.metype.com' data-metype-publisher='Malibu' data-metype-secondary-color="#f2f2f2" data-metype-primary-color='#000'>
  <div id='metype-clickthru' class='metype-clickthru' onClick="window.talktype.toggleButton()"></div>
  <div class="metype-feed-slide-icon" id="metype-feed-slide-icon" onclick="window.talktype.slideButton()"></div>
</div>
<script type='text/javascript'>window.talktype(function() { window.talktype.feedWidgetIframe(document.getElementById('feed-metype-container')); }); </script>

<!--- End of Metype Feed widget script -->
