.wrapper {
  :global .arr--author-intro-card {
    figure {
      width: 224px;
      height: 224px;
    }
    .arrow-component {
      svg {
        width: 224px;
        height: 224px;
      }
    }
  }
}

.text-info {
  font-size: var(--large);
  text-align: center;
  padding: 32px 0;
}
