@import "../../../../../assets/stylesheets/mixins.scss";

.search-box {
  display: flex;
  justify-content: space-between;
  border: none;
  border-radius: 100px;
  padding: 4px 8px 4px 16px;
  background-color: var(--light-interactive-primary-010);
  color: var(--light-ink-contrast);


  @include tablet {
    justify-content: space-between;
    width: 360px;
  }
  @include desktop {
    justify-content: space-between;
    width: 360px;
  }
}

.search__form-label {
  flex: 1;
  border: none;
  justify-content: center;
  display: flex;
}

.close__search {
  flex: 0;
  width: 32px;
  height: 32px;
  padding: 1px;
  align-self: center;
  outline: none;
  cursor: pointer;
  border: none;
  color: var(--light-interactive-secondary-030);
  background: transparent;
    & :hover {
        color:var(--light-interactive-secondary-030);
        border: none;
        background: transparent;
      }
}
::placeholder {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
:global .search__form-input {
  box-shadow: none;
  border: none;
  outline: none;
  background: var(--light-interactive-primary-010);
  color: var(--light-ink-contrast);
  width: 100%;
}

:global .search__form-input::-webkit-search-cancel-button{
  -webkit-appearance: none;
}
