.wrapper {
  padding: 0 var(--arrow-spacing-s);
}

.card-with-separator {
  :global .arr--story-card {
    margin-bottom: var(--arrow-spacing-m);
  }
}

.first-card {
  grid-column: 1/6;
}

.second-card {
  grid-column: 6/10;
}

.third-card {
  grid-column: 10/13;
  display: flex;
  flex-direction: column;
}

.ad-slot {
  order: -1;
  margin-bottom: var(--arrow-spacing-m);
}

@media (min-width: 768px) {
  .third-card {
    grid-column: 10/13;
    display: flex;
    flex-direction: column;
  }
  .card-with-separator {
    :global .arr--story-card:last-child {
      border-bottom: none;
    }
  }
  .storycards-row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: var(--arrow-spacing-l);
    align-items: flex-start;
  }
  .wrapper {
    padding: 0;
  }
}
