@custom-media --viewport-medium (width >= 768px);

.wrapper {
  padding: 0 var(--arrow-spacing-s);
  @media (--viewport-medium) {
    padding: 0;
  }
}

.storycards-row {
  @media (--viewport-medium) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: var(--arrow-spacing-l);
    align-items: flex-start;
  }
}

.card-with-separator {
  @media (--viewport-medium) {
    :global .arr--story-card:last-child {
      border-bottom: none;
    }
  }

  :global .arr--story-card {
    margin-bottom: var(--arrow-spacing-m);
  }
}

.first-card {
  grid-column: 1/6;
}

.second-card {
  grid-column: 6/10;
}

.third-card {
  grid-column: 10/13;
  display: flex;
  flex-direction: column;
  @media (--viewport-medium) {
    display: block;
  }
}

.ad-slot {
  order: -1;
  margin-bottom: var(--arrow-spacing-m);
}
