/* eslint-disable scss/at-rule-no-unknown */
@value viewports: "../../../../../assets/arrow/stylesheets/viewports.m.css";
@value mobile from viewports;

.author-card-wrapper {
  display: flex;
}

.author-card-wrapper.centerAligned {
  display: block;
  text-align: center;
}

.author-image-wrapper {
  display: flex;
  margin-right: var(--arrow-spacing-m);
  margin-bottom: var(--arrow-spacing-s);
  @media (min-width: mobile) {
    margin-right: var(--arrow-spacing-l);
  }
}

.default .author-image-wrapper {
  margin: 0 12px 0 0;
}

.centerAligned .author-image-wrapper {
  justify-content: center;
  margin-right: 0;
}

.author-image {
  margin-left: -100px;
  overflow: hidden;
}

.author-image figure {
  margin: 0;
}

.author-image img {
  border-radius: 50%;
  height: 72px;
  width: 72px;
  @media (min-width: mobile) {
    height: 124px;
    width: 124px;
  }
}

.multi-author-image img {
  border: solid 2px var(--arrow-c-light);
}

.default .author-image img {
  height: 32px;
  width: 32px;
}

.default .multi-author-image {
  margin-left: -24px;
  border-width: 1px;
}

.author-image.first-author-image {
  margin-left: 0;
}

.author-details-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin-left: var(--arrow-spacing-m);
  @media (min-width: mobile) {
    padding: var(--arrow-spacing-xs) var(--arrow-spacing-xs) var(--arrow-spacing-xs) 0;
    margin-left: var(--arrow-spacing-l);
  }
}

.default .author-details-wrapper {
  margin-left: var(--arrow-spacing-s);
}

.leftAligned .author-details-wrapper {
  margin-left: var(--arrow-spacing-m);
  @media (min-width: mobile) {
    margin-left: var(--arrow-spacing-l);
  }
}

.centerAligned .author-details-wrapper {
  align-items: center;
  margin-left: 0;
}

.author-name-share {
  display: flex;
  align-items: center;
  font-size: var(--arrow-fs-xs);
  line-height: var(--arrow-lh-1);
  justify-content: center;
  @media (min-width: mobile) {
    font-size: var(--arrow-fs-s);
  }
}

html[dir="rtl"] {
  .author-image-wrapper {
    margin-left: var(--arrow-spacing-m);
    margin-right: 0;
    @media (min-width: mobile) {
      margin-left: var(--arrow-spacing-l);
    }
  }

  .leftAligned .author-details-wrapper {
    margin-right: var(--arrow-spacing-m);
    margin-left: 0;
    @media (min-width: mobile) {
      margin-right: var(--arrow-spacing-l);
    }
  }

  .multi-author-image {
    position: relative;
    right: -100px;
  }

  .default .multi-author-image {
    margin-left: -16px;
    right: -12px;
    @media (min-width: mobile) {
      margin-left: -24px;
      right: -12px;
    }
  }

  .author-image.first-author-image {
    position: static;
  }

  .centerAligned .author-image-wrapper {
    margin-left: 0;
  }
}

.multiple-author-style {
  font-size: var(--arrow-fs-xs);
  @media (min-width: mobile) {
    font-size: var(--arrow-fs-s);
  }
}

.dot-wrapper {
  margin: 0 var(--arrow-spacing-xxs) 0 var(--arrow-spacing-xs);
}

.author-bio {
  font-style: italic;
  line-height: var(--arrow-lh-5);
  color: var(--arrow-c-m);
  font-size: var(--arrow-fs-tiny);
  @media (min-width: mobile) {
    font-size: var(--arrow-fs-xs);
  }
}

.dark {
  color: var(--arrow-c-mono2);
}

.light {
  color: var(--arrow-c-invert-mono2);
}
