@value viewports: "../../../../assets/stylesheets/viewports.m.css";
@value mobile from viewports;

.author-card-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.author-card-wrapper.centerAligned {
  display: block;
  text-align: center;
}

.author-image-wrapper {
  display: flex;
  align-items: center;
}

.default .author-image-wrapper a {
  margin: 0 var(--arrow-spacing-s) 0 0;
}

.default .author-image-wrapper a:last-child {
  margin: 0 var(--arrow-spacing-xs) 0 0;
}

.default .author-card-label {
  font-size: var(--arrow-fs-xs);
  line-height: var(--arrow-lh-1);
  margin-right: var(--arrow-spacing-xxs);
  @media (min-width: mobile) {
    font-size: var(--arrow-fs-s);
  }
}

.guest-author-wrapper {
  margin-top: var(--arrow-spacing-xs);
}

.centerAligned .author-image-wrapper {
  justify-content: center;
  margin-right: 0;
  margin-bottom: var(--arrow-spacing-m);
}

.author-image {
  margin-left: -100px;
  overflow: hidden;
}

.leftAligned .author-image {
  margin-left: -64px;
  overflow: hidden;
  @media (min-width: mobile) {
    margin-left: -100px;
  }
}

.author-image figure {
  margin: 0;
}

.author-image img {
  border-radius: 50%;
  height: 72px;
  width: 72px;
  @media (min-width: mobile) {
    height: 124px;
    width: 124px;
  }
}

.multi-author-image img {
  border: solid 2px var(--arrow-c-light);
}

.default .author-image,
.default .author-image img {
  height: 32px;
  width: 32px;
}

.default .multi-author-image {
  margin-left: -24px;
  border-width: 1px;
}

.author-image.first-author-image {
  margin-left: 0;
}

.author-details-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--arrow-spacing-xs) var(--arrow-spacing-xs) var(--arrow-spacing-xs) 0;
  margin-left: var(--arrow-spacing-m);
  @media (min-width: mobile) {
    margin-left: var(--arrow-spacing-l);
  }
}

.default .author-details-wrapper {
  margin-left: var(--arrow-spacing-s);
}

.leftAligned {
  align-items: center;
}

.leftAligned .author-image-wrapper {
  margin-bottom: unset;
}

.leftAligned .author-details-wrapper {
  margin-left: var(--arrow-spacing-m);
  @media (min-width: mobile) {
    margin-left: var(--arrow-spacing-l);
  }
}

.centerAligned .author-details-wrapper {
  align-items: center;
  margin-left: 0;
}

.author-name-share {
  align-items: center;
  font-size: var(--arrow-fs-xs);
  line-height: var(--arrow-lh-1);
  justify-content: center;
  @media (min-width: mobile) {
    font-size: var(--arrow-fs-s);
  }
}

.default .author-name-share.single-author,
.leftAligned .author-name-share.single-author {
  display: flex;
}

.twitter-wrapper {
  margin: 0 0 0 var(--arrow-spacing-xs);
}

html[dir="rtl"] {
  .default .multi-author-image {
    margin-right: -24px;
    margin-left: unset;
  }

  .default .author-card-label {
    margin-right: unset;
    margin-left: var(--arrow-spacing-xxs);
  }

  .author-image {
    margin-right: -100px;
    margin-left: unset;
  }

  .default .author-image-wrapper a {
    margin: 0 0 0 var(--arrow-spacing-s);
  }
  .default .author-image-wrapper a:last-child {
    margin: 0 0 0 var(--arrow-spacing-xs);
  }

  .leftAligned .author-image-wrapper a {
    margin-left: var(--arrow-spacing-m);
  }
  .leftAligned .author-image.multi-author-image {
    margin-right: -64px;
    margin-left: unset;
  }

  .leftAligned .author-image.first-author-image,
  .author-image.first-author-image {
    margin-right: 0;
  }

  .author-name-share span {
    display: inline-block;
  }

  .twitter-wrapper {
    margin: 0 var(--arrow-spacing-xs) 0 0;
  }
}

.multiple-author-style {
  font-size: var(--arrow-fs-xs);
  @media (min-width: mobile) {
    font-size: var(--arrow-fs-s);
  }
}

.author-bio {
  font-style: italic;
  line-height: var(--arrow-lh-5);
  color: var(--arrow-c-m);
  font-size: var(--arrow-fs-tiny);
  @media (min-width: mobile) {
    font-size: var(--arrow-fs-xs);
  }
}

.dark {
  color: var(--arrow-c-mono2);
}

.light {
  color: var(--arrow-c-invert-mono2);
}

.centerAligned .author-image-wrapper a {
  margin-left: var(--arrow-spacing-l);
  margin-right: var(--arrow-spacing-l);
}

.leftAligned .author-image-wrapper a {
  margin-right: var(--arrow-spacing-m);
}
