@value viewports: "../../../../assets/arrow/stylesheets/viewports.m.css";
@value mobile from viewports;

.caption {
  font-size: 12px;
  font-family: var(--arrow-typeface-secondary);
  margin: var(--arrow-spacing-xs) 0;
  line-height: var(--arrow-lh-5);
  @media (min-width: mobile) {
    font-size: var(--arrow-fs-tiny);
  }
}

.wrapper {
  padding-left: var(--arrow-spacing-s);
}

.caption.dark {
  color: var(--arrow-c-mono2);
}

.attribution.dark {
  color: var(--arrow-c-mono4);
}

.caption.light {
  color: var(--arrow-c-invert-mono2);
}

.attribution.light {
  color: var(--arrow-c-invert-mono4);
}

html[dir="rtl"] {
  .wrapper {
    padding-left: 0;
    padding-right: var(--arrow-spacing-s);
    display: inline-block;
  }
}
