.storyCardWrapper :global(.arr--story-card) {
  padding: var(--arrow-spacing-xs) 0;
}

.storyCardWrapper > :first-child {
  padding: 0 0 var(--arrow-spacing-xs);
}

.storyCardWrapper.storyCardWrapper > :last-child {
  border-bottom: unset;
}

.componentWrapper > :nth-child(3) :global(.arr--button) {
  margin-bottom: var(--arrow-spacing-m);
}

.storyCardWrapper {
  :global .arr--responsive-hero-image .story-icon,
  :global .arr--fallback-hero-image .story-icon {
    height: 24px;
    width: 24px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: var(--z-index-1);
  }

  :global .live-icon {
    animation: blink 1.5s linear infinite;
    vertical-align: middle;
    height: 24px;
    width: 24px;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@media (min-width: 768px) {
  .componentWrapper {
    display: grid;
    grid-column-gap: 25px;
    grid-template-columns: repeat(2, 1fr);
  }

  .cardWrapper {
    flex: auto;
  }
  .storyCardWrapper {
    :global .arr--responsive-hero-image .story-icon,
    :global .arr--fallback-hero-image .story-icon {
      height: 24px;
      width: 24px;
    }
  }
  .componentWrapper > :nth-child(3) :global(.arr--button) {
    margin-bottom: var(--arrow-spacing-xs);
  }
  .separator::after {
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    right: -13px;
  }

  .light .separator::after {
    background-color: var(--light-border);
  }

  .dark .separator::after {
    background-color: var(--dark-border);
  }

  .componentWrapper > :last-child .separator::after {
    content: none;
  }

  .componentWrapper > :nth-child(2) .separator::after {
    content: none;
  }

  .contentWrapper {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1025px) {
  .componentWrapper {
    grid-template-columns: repeat(4, 1fr);
  }
  .separator {
    position: relative;
  }
  .componentWrapper > :nth-child(2) .separator::after {
    content: "";
  }
}
@media(max-width: 1025px) {
  .componentWrapper:global(.arrow-component.full-width-with-padding) {
    padding-left: var(--arrow-spacing-s);
    padding-right: var(--arrow-spacing-s);
  }

  .componentWrapper > :nth-child(1) :global(.arr--button),
  .componentWrapper > :nth-child(2) :global(.arr--button) {
    margin-bottom: var(--arrow-spacing-m);
  }
}
