/* eslint-disable scss/at-import-partial-extension */
@import "../../../../../../../assets/stylesheets/mixins.scss";

.grid-col-full {
  grid-column: 1/5;
  @include tablet {
    grid-column: grid-start / grid-end;
  }
}
.grid-container {
  grid-column: 1/5;
  @include tablet {
    grid-column: container-start / container-end;
  }
}

.grid-col-2-10 {
  grid-column: 1/5;
  @include tablet {
    grid-column: container-start / 9;
    @include desktop {
      grid-column: container-start / 10;
    }
  }
}
.grid-col-10-14 {
  grid-column: 1/5;
  @include tablet {
    grid-column: 9 / container-end;
    grid-row: 2 / auto;
    @include desktop {
      grid-column: 10 / container-end;
    }
  }
}
.grid-col-4-12 {
  grid-column: 1/5;
  @include tablet {
    grid-column: 4 / 12;
  }
}
.grid-col-2-9 {
  grid-column: 1/5;
  @include tablet {
    grid-column: container-start / 9;
  }
}

.grid-col-9-14 {
  grid-column: 1/5;
  @include tablet {
    grid-column: 9 / 14;
    grid-row: 2 / 6;
  }
}
.story-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--arrow-spacing-l);
  @include tablet {
    margin-bottom: var(--arrow-spacing-xl);
  }
}
.side-space {
  margin-top: var(--arrow-spacing-m);
  @include tablet {
    margin-top: var(--arrow-spacing-l);
  }
}
:global(.gap-32) {
  margin-top: var(--arrow-spacing-l);
  @include tablet {
    margin-top: var(--arrow-spacing-xl);
  }
}

.header-details {
  :global(.arr--sub-headline) {
    font-size: var(--arrow-fs-s);
    font-style: italic;
    @include tablet {
      font-size: var(--arrow-fs-m);
    }
  }
  .space-12 {
    margin-top: var(--arrow-spacing-m);
    @include tablet {
      margin-top: var(--arrow-spacing-xl);
    }
  }
}

.story-tags {
  margin: var(--arrow-spacing-l) 0;
}

.sticky :global(.arr--share) {
  grid-column: 4/5;
  justify-self: flex-end;
  @include tablet {
    grid-column: 8/9;
    @include desktop {
      position: sticky;
      position: -webkit-sticky;
      grid-column: grid-start/container-start;
      grid-row: 2/3;
      align-self: flex-start;
      margin-top: var(--arrow-spacing-xs);
      top: 120px;
    }
  }
}

.sticky:global(.hero-priority-center) {
  :global(.arr--share) {
    @include tablet {
      grid-column: 9 / grid-end;
      @include desktop {
        grid-column: 3/4;
      }
    }
  }
}

.sticky .index-2 {
  z-index: 2;
  @include desktop {
    z-index: unset;
  }
}

.tablet-index-2 {
  @include tablet {
    z-index: 2;
  }
}

.fullBleed {
  margin: unset;
}

.fullBleed:global(.headline-priority) .side-space.index-2 {
  @include mobile {
    margin: var(--arrow-spacing-m) 0 0;
  }
}

.fullBleed:global(.headline-priority) .grid-container,
.fullBleed:global(.headline-priority) .grid-col-9-14 {
  @include mobile {
    margin: 0 var(--arrow-spacing-s);
  }
}

.fullBleed:global(.headline-priority) .side-space {
  @include mobile {
    margin: var(--arrow-spacing-m) var(--arrow-spacing-s) 0;
  }
}

.fullBleed .space-12 {
  @include mobile {
    margin: 0 var(--arrow-spacing-s) 0;
  }
}

.space-12 .header-details {
  @include mobile {
    margin-top: var(--arrow-spacing-xl);
  }
}

.space-32 > * {
  margin-top: var(--arrow-spacing-l);
}
