.two-col-three-story {
  padding: 0 var(--arrow-spacing-s);
}
.wrapper {
  margin: var(--arrow-spacing-xs) 0;
}

.first-card {
  padding: 0;
  margin-bottom: var(--arrow-spacing-m);
}

.storycard {
  margin-bottom: var(--arrow-spacing-m);
}

.border-full {
  padding: var(--arrow-spacing-m);
}

@media(min-width: 768px) {
  .two-col-three-story {
    padding: 0;
  }
  .wrapper {
    display: grid;
    grid-template-columns: 9fr 3fr;
    grid-column-gap: var(--arrow-spacing-l);
    margin: var(--arrow-spacing-m) 0;
  }
  .first-card {
    margin-bottom: 0;
  }
  .storycard {
    margin-bottom: var(--arrow-spacing-l);
  }
}
