@custom-media --viewport-medium (width >=768px);
@custom-media --viewport-small (width < 768px);

.one-col-story-list-wrapper {
  padding: 0 var(--arrow-spacing-s);
  @media (--viewport-medium) {
    padding: 0;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  @media (--viewport-medium) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 44px;
  }
}

.one-col-first-story {
  grid-column: 1/3;
  grid-row: 1/2;
  order: -1;
}

.one-col-border-full {
  margin-bottom: var(--arrow-spacing-m);
  @media (--viewport-medium) {
    margin-bottom: var(--arrow-spacing-l);
  }
}

.one-col-border-bottom {
  padding-top: var(--arrow-spacing-m);
}

.one-col-border-default {
  margin-bottom: var(--arrow-spacing-m);
  @media (--viewport-medium) {
    margin-bottom: var(--arrow-spacing-l);
  }
}

.one-col-story-list {
  grid-column: 1/3;
  grid-row: 2/3;
}

.one-col-ads {
  grid-row: 1/9;
  order: -1;
  padding-bottom: var(--arrow-spacing-m);
}

.footer-ad-wrapper {
  @media (--viewport-medium) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.footer-wrapper {
  grid-row: 1/2;
  grid-column: 1/3;
}

.ad-wrapper {
  grid-row: 2/3;
  grid-column: 1/4;
}

.ad-wrapper :global(.arr--ad-wrapper) {
  justify-content: left;
}

.story-card-content-wrapper {
  @media (--viewport-medium) {
    padding: var(--arrow-spacing-m) var(--arrow-spacing-m) var(--arrow-spacing-m) 0;
  }
}

.one-col-story-list-wrapper :global(.arr--sub-headline) {
  @media (--viewport-small) {
    display: none;
  }
}

.one-col-story-list-wrapper :global(.arr--button) {
  margin: 0 0 var(--arrow-spacing-xs) 0;
}
