.four-col-grid {
  padding: 0 var(--arrow-spacing-s);
}
.wrapper {
  display: flex;
  flex-direction: column;
  margin: var(--arrow-spacing-xs) 0 0;
}
.story-card-wrapper {
  margin-bottom: var(--arrow-spacing-m);
}
.wrapper > :first-child,
.ad {
  order: -1;
}
.ad {
  margin-bottom: 16px;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  flex-basis: 70%;
}

.four-col-grid :global(.arr--story-card .arr--hero-image) {
  flex-basis: 40%;
}
.four-col-grid :global(.arr--story-card .arr--content-wrapper) {
  flex-basis: 60%;
}

@media (min-width: 768px) {
  .content-wrapper {
    flex-basis: 100%;
  }
  .wrapper > :first-child,
  .ad {
    order: 0;
  }
  .story-card-wrapper {
    margin-bottom: 0;
  }
  .wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: var(--arrow-spacing-l);
    margin: var(--arrow-spacing-m) 0;
  }
  .four-col-grid {
    padding: 0;
  }
}
