.wrapper {
  padding: 0 var(--arrow-spacing-s);
}

.card {
  margin-bottom: var(--arrow-spacing-m);
}

.wrapper :global(.arr--button) {
  margin: 0 auto var(--arrow-spacing-xs) auto;
}

@media (min-width: 768px) {
  .wrapper {
    padding: 0;
  }
  .storycards-row-two {
    display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: var(--arrow-spacing-l);
  }
  .storycards-row-one {
    display: grid;
      grid-template-columns: 2fr 1fr;
      grid-column-gap: var(--arrow-spacing-l);
  }
  .card {
    margin-bottom: var(--arrow-spacing-l);
  }
}
