.wrapper {
  padding: 0 var(--arrow-spacing-s);
}

.card {
  margin-bottom: var(--arrow-spacing-m);
}
.card .card-content {
  margin-left: var(--arrow-spacing-s);
}
.ad-wrapper {
  align-self: center;
  margin-bottom: var(--arrow-spacing-m);
}

@media(min-width: 1025px) {
  .wrapper {
    padding: 0;
  }
  .card-row {
    grid-template-columns: repeat(3, 1fr);
  }
  .card {
    margin-bottom: var(--arrow-spacing-l);
  }
  .card-with-ad {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: var(--arrow-spacing-m);
    align-self: center;
  }
  .row-with-ad {
    grid-template-columns: 2fr 1fr;
  }
}

@media(min-width: 768px) {
  .card-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: var(--arrow-spacing-m);
    margin-top: var(--arrow-spacing-m);
  }

  .row-with-ad {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: var(--arrow-spacing-m);
    margin-bottom: var(--arrow-spacing-m);
  }
  .ad-wrapper {
    margin-bottom: 0;
  }
}
