/* eslint-disable scss/at-rule-no-unknown */
@value viewports: "../../../../../assets/stylesheets/viewports.m.css";
@value mobile from viewports;
@value desktop from viewports;

.wrapper {
  padding: 0 var(--arrow-spacing-s);
  @media (min-width: desktop) {
    padding: 0;
  }
}

.card-row {
  @media (min-width: mobile) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: var(--arrow-spacing-m);
    margin-top: var(--arrow-spacing-m);
  }
  @media (min-width: desktop) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.row-with-ad {
  @media (min-width: mobile) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: var(--arrow-spacing-m);
    margin-bottom: var(--arrow-spacing-m);
  }
  @media (min-width: desktop) {
    grid-template-columns: 2fr 1fr;
  }
}

.card-with-ad {
  @media (min-width: desktop) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: var(--arrow-spacing-m);
    align-self: center;
  }
}

.card {
  margin-bottom: var(--arrow-spacing-m);
  @media (min-width: desktop) {
    margin-bottom: var(--arrow-spacing-l);
  }
}
.card .card-content {
  margin-left: var(--arrow-spacing-s);
}
.ad-wrapper {
  align-self: center;
  margin-bottom: var(--arrow-spacing-m);
  @media (min-width: mobile) {
    margin-bottom: 0;
  }
}
