.list-wrapper {
  padding: var(--arrow-spacing-s);
}
.wrapper {
  display: flex;
  flex-direction: column;
  margin: var(--arrow-spacing-xs) 0;
}

.one-col-border-full {
  margin-bottom: var(--arrow-spacing-m);
}
.one-col-border-bottom {
  padding-top: var(--arrow-spacing-m);
}
.one-col-border-default {
  margin-bottom: var(--arrow-spacing-m);
}
.list {
  grid-column: 1/3;
  grid-row: 2/3;
}

.story-card-content-wrapper {
  padding: var(--arrow-spacing-s) var(--arrow-spacing-xs) 0;
}

@media(min-width: 768px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 44px;
    margin: var(--arrow-spacing-m) 0;
  }
  html[dir="rtl"] {
    .list :global .arr--hero-image {
      padding-left: 24px;
      padding-right: 0;
    }
  }
  .list :global .arr--hero-image {
    padding-right: 24px;
  }
  .story-card-content-wrapper {
    padding: var(--arrow-spacing-m) var(--arrow-spacing-m) 0;
  }
  .one-col-border-default {
    margin-bottom: var(--arrow-spacing-l);
  }
  .one-col-border-full {
    margin-bottom: var(--arrow-spacing-l);
  }
}
@media (max-width: 768px) {
  .list-wrapper :global(.arr--sub-headline) {
    display: none;
  }
}
