.wrapper {
  padding: 0 var(--arrow-spacing-s);
}
.three-col-five-stories {
  display: flex;
  flex-direction: column;
}

.card {
  margin-bottom: var(--arrow-spacing-s);
}
.card-bottom {
  margin-bottom: var(--arrow-spacing-s);
}
.cards {
  border-bottom: 1px solid var(--arrow-c-mono5);
  margin-bottom: var(--arrow-spacing-m);
}
.border-unset :global(.arr--story-card) {
  border: none;
}
.ads {
  margin-bottom: var(--arrow-fs-xs);
}

.wrapper :global(.arr--button) {
  margin: 0 auto var(--arrow-spacing-xs) auto;
}

@media (min-width: 768px) {
  .cards {
    margin-bottom: 0;
    border-bottom: unset;
  }
  .card {
    margin-bottom: var(--arrow-spacing-l);
  }
  .wrapper {
    padding: 0;
  }
  .three-col-five-stories {
    display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: var(--arrow-spacing-l);
  }
}
