.top-component-container {
  --spacing-xs: 8px;
  --spacing-horizontal: 16px;
  --spacing-vertical: 15px;
  --spacing-row-separator: 40px;

  --font-s: 12px;
  --font-m: 16px;
  --font-xl: 24px;
  --font-xxl: 28px;

  --headline-color: #0c1215;
  --subheadline-color: #596e79;
  --card-separator-color: #dee3e6;
  --row-separator-color: #303d43;

  --font-1: var(--title-font);
  --font-2: var(--content-font);

  --semibold: 600;
  --regular: 400;

  padding-bottom: var(--spacing-row-separator);
}

.three-col-nine-stories {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--row-separator-color);
  padding-bottom: var(--spacing-horizontal);
}

.main-story-headline {
  font-size: var(--font-xxl);
  font-family: var(--font-1);
  color: var(--headline-color);
  font-weight: var(--semibold);
}

.headline {
  font-size: var(--font-m);
  font-family: var(--font-1);
  color: var(--headline-color);
  font-weight: var(--semibold);
}

.subheadline {
  font-size: var(--font-m);
  font-family: var(--font-1);
  font-weight: normal;
  color: var(--subheadline-color);
}

.dark {
  fill: #596e79;
}
.light {
  fill: white;
}

.second-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.left-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--spacing-xs);
}

.left-column.show-thumbnail {
  grid-column: 1/3;
}

.left-column.hide-thumbnail {
  grid-column: 1/4;
}

.label {
  color: #013d6c;
  font-weight: var(--regular);
  text-transform: uppercase;
  font-family: var(--content-font);
  font-size: var(--font-s);
}

.time-container {
  display: flex;
  flex-wrap: wrap;
  font-size: var(--font-s);
  font-weight: 200;
  font-family: var(--font-2);
  color: var(--subheadline-color);
}

.headline-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

.hero-image {
  grid-column: 3 / 4;
  aspect-ratio: 4 / 3;
  align-content: center;
  width: 100%;
}

.common-story {
  border-bottom: 1px solid var(--card-separator-color);
  padding: var(--spacing-horizontal) 0;
}

.common-story.no-border {
  border: none;
}

.ad-label {
  text-align: center;
  font-size: var(--font-s);
  text-transform: uppercase;
  color: var(--subheadline-color);
  margin-bottom: var(--spacing-xs);
}

.ad-wrapper {
  width: 100%;
  height: auto;
  padding: var(--spacing-horizontal) 0;
  border-bottom: 1px solid var(--card-separator-color);
}

.row-ad-wrapper {
  padding-top: var(--spacing-horizontal);
}

.dot {
  margin-left: 4px;
}

.main-story {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  border-bottom: 1px solid var(--card-separator-color);
  padding-bottom: var(--spacing-horizontal);
}

.photos-container {
  display: flex;
}

.photo-card {
  aspect-ratio: 4 / 3;
}

.publish-time {
  display: flex;
  align-items: center;
}

.hide-hero-image {
  .main-story-headline {
    font-size: 48px;
    line-height: 48px;
    font-weight: var(--semibold);
  }
  .subheadline {
    font-size: var(--font-xl);
    line-height: var(--font-xl);
    font-weight: var(--regular);
  }
}
.hero-image-container {
  position: relative;
}
.hero-image-container > img {
  width: 100%;
  aspect-ratio: 4 / 3;
}
.photo-story {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}
.photo-story:nth-of-type(1) {
  padding-right: var(--spacing-vertical);
  border-right: 1px solid var(--card-separator-color);
}
.photo-story:nth-of-type(2) {
  padding-left: var(--spacing-horizontal);
}

.text-with-line {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--spacing-horizontal);
  font-family: var(--font-2);
  font-weight: 500;
  color: var(--subheadline-color);
}

.text-with-line::before,
.text-with-line::after {
  content: "";
  flex-grow: 1;
  height: 1px;
  background-color: var(--card-separator-color);
}
.text-with-line::before {
  margin-right: var(--spacing-xs);
}
.text-with-line::after {
  margin-left: var(--spacing-xs);
}
.fallback-image {
  width: 100%;
  aspect-ratio: 4 / 3;
  background-color: var(--card-separator-color);
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .three-col-nine-stories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .first-column {
    padding-right: var(--spacing-vertical);
    border-right: 1px solid var(--card-separator-color);
    width: calc(65% + var(--spacing-horizontal));
  }
  .second-column {
    width: calc(35% - var(--spacing-horizontal));
    padding-left: var(--spacing-horizontal);
  }
  .left-stories {
    border-right: 1px solid var(--card-separator-color);
    padding-right: var(--spacing-vertical);
  }
  .left-column.show-thumbnail {
    grid-column: 1/4;
  }
  .left-column.hide-thumbnail {
    grid-column: 1/6;
  }
  .hero-image {
    grid-column: 4 / 6;
    aspect-ratio: 4 / 3;
    align-content: center;
  }
  .second-card {
    grid-template-columns: repeat(5, 1fr);
  }
  .first-column {
    .left-column.show-thumbnail {
      grid-column: 1/5;
    }
    .left-column.hide-thumbnail {
      grid-column: 1/6;
    }
    .hero-image {
      grid-column: 5 / 6;
    }
  }
  .third-column-stories {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-horizontal);
  }
  .first-column div:last-child .common-story {
    border: none;
  }
  .second-column div:last-child .common-story {
    border: none;
  }
  .second-column div:first-child .common-story {
    padding-top: 0;
  }
  .common-story {
    padding: var(--spacing-horizontal) 0;
  }
  .ad-wrapper {
    border-bottom: none;
  }
}

@media only screen and (min-width: 1200px) {
  .three-col-nine-stories {
    flex-direction: row;
  }
  .first-column {
    border-right: 1px solid var(--card-separator-color);
    width: 460px;
  }
  .second-column {
    width: 285px;
    border-right: 1px solid var(--card-separator-color);
    .left-column.show-thumbnail {
      width: 160px;
    }
  }
  .first-variation {
    .first-column {
      order: 1;
      padding-right: var(--spacing-vertical);
    }
    .second-column {
      order: 2;
      padding: 0 var(--spacing-vertical);
    }
  }
  .second-variation {
    .first-column {
      order: 2;
      padding: 0 var(--spacing-horizontal);
    }
    .second-column {
      order: 1;
      padding-right: var(--spacing-vertical);
    }
  }
  .third-column {
    width: 365px;
    padding-left: var(--spacing-horizontal);
    order: 3;
  }
  .common-story {
    padding: var(--spacing-horizontal) 0;
  }
  .second-card {
    display: flex;
    flex-direction: row;
    gap: 0;
  }
  .left-column.hide-thumbnail {
    width: 100%;
  }
  .hero-image {
    width: 87px;
    height: 65px;
    margin-left: var(--spacing-xs);
  }
  .photo-card {
    width: 160px;
    aspect-ratio: 4 / 3;
  }
  .first-column div:last-child .common-story {
    border: none;
  }
  .second-column div:first-child .common-story {
    padding-top: 0;
  }
  .ad-wrapper {
    border-bottom: none;
    padding-top: 0;
  }
}
