.opinion-collection {
  padding: 0 var(--arrow-spacing-s);
}

.headline-author {
  display: flex;
  :last-child {
    margin-left: auto;
  }
  :global(.arr--headline) {
    flex-basis: 80%;
  }
}

.content-wrapper > div,
.wrapper-with-ads > div {
  padding: 0 0 8px 0;
}

.custom-grid > div {
  padding: 0;
}

.custom-grid.border.light > div,
.custom-grid.border.dark > div {
  border-right: none;
}

.content-wrapper :global(.author-name) {
  color: var(--arrow-c-brand1);
  font-size: var(--arrow-spacing-m);
}

.content-wrapper.border.light,
.content-wrapper.border.light .wrapper-with-ads {
  :global(.arr--author-time) {
    border-bottom: 1px solid var(--light-border);
    padding-bottom: var(--arrow-spacing-m);
  }
}

.content-wrapper.border.dark,
.content-wrapper.border.dark .wrapper-with-ads {
  :global(.arr--author-time) {
    border-bottom: 1px solid var(--dark-border);
    padding-bottom: var(--arrow-spacing-m);
  }
}

.content-wrapper.border,
.content-wrapper.border .wrapper-with-ads {
  div:nth-last-child(-n + 1) {
    :global(.arr--author-time) {
      border-bottom: none;
    }
  }
}

@media(min-width: 1025px){
  .content-wrapper > div,
  .wrapper-with-ads > div {
    padding: 0 var(--arrow-spacing-l) var(--arrow-spacing-m) 0;
  }
  .custom-grid.border.dark > div:nth-child(2n),
  .custom-grid.border.light > div:nth-child(2n) {
    border-right: none;
  }

  .content-wrapper.border.light > div:nth-child(3n) {
    border-right: none;
  }

  .content-wrapper.border.dark > div:nth-child(3n) {
    border-right: none;
  }
  .content-wrapper.border.dark > div:nth-child(2n),
  .content-wrapper.border.dark .wrapper-with-ads > div:nth-child(2n) {
    border-right: 1px solid var(--dark-border);
  }
  .content-wrapper.border.light > div:nth-child(2n),
  .content-wrapper.border.light .wrapper-with-ads > div:nth-child(2n) {
    border-right: 1px solid var(--light-border);
  }
  .content-wrapper.custom-grid.border.dark .count-3,
  .content-wrapper.border.dark .count-3,
  .content-wrapper.custom-grid.border.dark .count-2,
  .content-wrapper.border.dark .count-2 {
    div:nth-child(2) {
      :global(.arr--author-time) {
        border-bottom: none;
      }
    }
  }
  .content-wrapper.border.light .wrapper-with-ads {
    div:nth-child(2) {
      :global(.arr--author-time) {
        border-bottom: 1px solid var(--light-border);
      }
    }
  }

  .content-wrapper.border.dark .wrapper-with-ads {
    div:nth-child(2) {
      :global(.arr--author-time) {
        border-bottom: 1px solid var(--dark-border);
      }
    }
  }
  .content-wrapper.border.light .count-3 {
    div:nth-last-child(-n + 3) {
      :global(.arr--author-time) {
        border-bottom: 1px solid var(--light-border);
      }
    }
  }

  .content-wrapper.border.dark .count-3 {
    div:first-child {
      :global(.arr--author-time) {
        border-bottom: 1px solid var(--dark-border);
      }
    }
  }
  .content-wrapper.border,
  .content-wrapper.border .wrapper-with-ads {
    div:nth-last-child(-n + 3) {
      :global(.arr--author-time) {
        border-bottom: none;
      }
    }
  }
  .custom-grid {
   grid-template-columns: 2fr 1fr;
   align-items: center;
  }
  .opinion-collection {
    padding: 0;
  }

  .content-wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: var(--arrow-spacing-l);
  }

  .wrapper-with-ads {
    grid-column-gap: var(--arrow-spacing-l);
  }
}


@media only screen and (max-width: 1025px) {
  .ad-slot {
    margin: var(--arrow-spacing-l) 0;
  }
}

@media(min-width: 768px) {
  .content-wrapper {
    display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: var(--arrow-spacing-s);
  }

  .custom-grid {
    grid-template-columns: 1fr;
  }

  .wrapper-with-ads {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: var(--arrow-spacing-s);
  }
  .content-wrapper.border.light > div,
  .content-wrapper.border.light .wrapper-with-ads > div {
    border-right: 1px solid var(--light-border);
  }

  .content-wrapper.border.dark > div,
  .content-wrapper.border.dark .wrapper-with-ads > div {
    border-right: 1px solid var(--dark-border);
  }
  .content-wrapper.border,
  .content-wrapper.border .wrapper-with-ads {
    div:nth-last-child(-n + 2) {
      :global(.arr--author-time) {
        border-bottom: none;
      }
    }
  }
  .content-wrapper.border.light > div:nth-child(2n),
  .content-wrapper.border.light .wrapper-with-ads > div:nth-child(2n) {
    border-right: none;
  }

  .content-wrapper.border.dark > div:nth-child(2n),
  .content-wrapper.border.dark .wrapper-with-ads > div:nth-child(2n) {
    border-right: none;
  }
}
