@value viewports: "../../../../assets/stylesheets/viewports.m.css";
@value mobile from viewports;
@value desktop from viewports;

.cardWrapper {
  display: flex;
  align-items: center;
}

.container {
  margin-right: var(--arrow-spacing-xxs);
  flex-basis: 80%;
}

.opinion-collection {
  padding: 0 var(--arrow-spacing-s);
  @media (min-width: desktop) {
    padding: 0;
  }
}

.content-wrapper,
.wrapper-with-ads {
  @media (min-width: mobile) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: var(--arrow-spacing-xl);
  }
  @media (min-width: desktop) {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: var(--arrow-spacing-48);
  }
}

.custom-grid {
  @media (min-width: mobile) {
    grid-template-columns: 1fr;
  }
  @media (min-width: desktop) {
    grid-template-columns: 2fr 1fr;
    align-items: center;
  }
}

.wrapper-with-ads {
  @media (min-width: desktop) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.ad-slot {
  @media only screen and (max-width: desktop) {
    margin: var(--arrow-spacing-l) 0;
  }
}

.content-wrapper > div,
.wrapper-with-ads > div {
  padding: 0 0 var(--arrow-spacing-m) 0;
  @media (min-width: mobile) {
    padding: 0 0 var(--arrow-spacing-l) 0;
  }
  @media (min-width: desktop) {
    padding: 0 0 var(--arrow-spacing-xl) 0;
  }
}

.custom-grid > div {
  padding: 0;
}

.content-wrapper :global(.arr-author-name .author-name) {
  color: var(--arrow-c-brand1);
  font-size: var(--arrow-spacing-m);
  margin-bottom: var(--arrow-spacing-xs);
}

.content-wrapper.border .cardWrapper,
.content-wrapper.border .wrapper-with-ads .cardWrapper {
  position: relative;
}

.content-wrapper.border.dark .cardWrapper :global(.arr--author-time)::after,
.content-wrapper.border.light .cardWrapper :global(.arr--author-time)::after {
  content: "";
  border-bottom: 1px solid var(--dark-border);
  bottom: var(--arrow-spacing-xs);
  position: absolute;
  left: 0;
  width: 100%;
  @media (min-width: desktop) {
    bottom: var(--arrow-spacing-m);
  }
}
.content-wrapper.border.light .cardWrapper :global(.arr--author-time)::after {
  border-bottom: 1px solid var(--light-border);
}

.content-wrapper.border > .cardWrapper:nth-last-child(-n + 1) :global(.arr--author-time)::after,
.content-wrapper.border.custom-grid
  > .wrapper-with-ads
  > .cardWrapper:nth-last-child(-n + 1)
  :global(.arr--author-time)::after {
  border-bottom: none;
}

.content-wrapper.border > .cardWrapper:nth-last-child(-n + 2) :global(.arr--author-time)::after,
.content-wrapper.border.custom-grid
  > .wrapper-with-ads
  > .cardWrapper:nth-last-child(-n + 2)
  :global(.arr--author-time)::after {
  @media (min-width: mobile) {
    border-bottom: none;
  }
}

.content-wrapper.border > .cardWrapper:nth-last-child(-n + 3) :global(.arr--author-time)::after {
  @media (min-width: desktop) {
    border-bottom: none;
  }
}

.content-wrapper.border .cardWrapper::after {
  @media (min-width: mobile) {
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
  }
}

html[dir="ltr"] {
  .content-wrapper.border.light .cardWrapper::after,
  .content-wrapper.border.dark .cardWrapper::after {
    @media (min-width: mobile) {
      border-right: 1px solid var(--dark-border);
      right: -16px;
    }
    @media (min-width: desktop) {
      right: -24px;
    }
  }

  .content-wrapper.border.light .cardWrapper::after {
    @media (min-width: mobile) {
      border-right: 1px solid var(--light-border);
    }
  }

  .content-wrapper.border.light > .cardWrapper:nth-child(3n)::after,
  .content-wrapper.border.dark > .cardWrapper:nth-child(3n)::after {
    @media (min-width: desktop) {
      border-right: none;
    }
  }

  .content-wrapper.border > .cardWrapper:nth-child(2n)::after,
  .content-wrapper.border .wrapper-with-ads > .cardWrapper:nth-child(2n)::after {
    @media (min-width: mobile) and (max-width: desktop) {
      border-right: none;
    }
  }
}

html[dir="rtl"] {
  .cardWrapper {
    flex-direction: row-reverse;
  }

  .container {
    margin-right: var(--arrow-spacing-s);
  }

  .content-wrapper.border.light .cardWrapper::after,
  .content-wrapper.border.dark .cardWrapper::after {
    @media (min-width: mobile) {
      border-left: 1px solid var(--dark-border);
      left: -16px;
    }
    @media (min-width: desktop) {
      left: -24px;
    }
  }

  .content-wrapper.border.light .cardWrapper::after {
    @media (min-width: mobile) {
      border-left: 1px solid var(--light-border);
    }
  }

  .content-wrapper.border.light > .cardWrapper:nth-child(3n)::after,
  .content-wrapper.border.dark > .cardWrapper:nth-child(3n)::after {
    @media (min-width: desktop) {
      border-left: none;
    }
  }

  .content-wrapper.border > .cardWrapper:nth-child(2n)::after,
  .content-wrapper.border .wrapper-with-ads > .cardWrapper:nth-child(2n)::after {
    @media (min-width: mobile) and (max-width: desktop) {
      border-left: none;
    }
  }

  .cardWrapper :global(.arr--author-image) svg,
  .cardWrapper :global(.arr--author-image) img {
    width: 80px;
    height: 80px;
  }
}
