.profile-page {
  margin: 0 auto;
  max-width: var(--mobile-width);
}

.user-icon {
  height: 160px;
  width: 160px;
  margin: 0 96px;
  border-radius: var(--mobile-width);
}

.avatar {
  margin-top: 20px;
}
.avatar-image {
  margin: 0 96px;
  border-radius: var(--mobile-width);
}

.full-name {
  text-align: center;
  margin-top: 12px;
}

.profile-information {
  margin-top: 52px;
}

.fields {
  margin-bottom: 16px;
}

.not-logged-in {
  font-size: var(--large);
  text-align: center;
}

.button {
  height: 32px;
  padding: 0 12px;
  width: fit-content;
}
