/* eslint-disable scss/at-rule-no-unknown */
@value viewports: "../../../../../assets/arrow/stylesheets/viewports.m.css";
@value mobile from viewports;
@value tablet from viewports;

.image-container {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.author-image img,
.author-image svg {
  border-radius: 50%;
  width: 160px;
  height: 160px;
  @media (min-width: mobile) {
    position: relative;
    width: 224px;
    height: 224px;
    @media (min-width: tablet) {
      width: 364px;
      height: 364px;
    }
  }
}

.square img {
  border-radius: 0;
}

.small-circle.author-image img,
.small-circle.author-image svg {
  border-radius: 133.5px;
  width: 40px;
  height: 40px;
  @media (min-width: mobile) {
    width: 88px;
    height: 88px;
  }
  @media (min-width: tablet) {
    width: 120px;
    height: 120px;
  }
}

.smaller-circle.author-image img,
.smaller-circle.author-image svg {
  width: 64px;
  height: 64px;
}
