@value viewports: "../../../../../../assets/stylesheets/viewports.m.css";
@value mobile from viewports;
@value tablet from viewports;

.container {
  margin: var(--arrow-spacing-m);
  @media (min-width: mobile) {
    margin: var(--arrow-spacing-l);
    @media (min-width: tablet) {
      margin: 0;
    }
  }
}

.issues {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: var(--arrow-spacing-l);
  grid-row-gap: var(--arrow-spacing-l);
  @media (min-width: mobile) {
    grid-template-columns: repeat(4, 1fr);
    @media (min-width: tablet) {
      grid-column-gap: 70px;
    }
  }
}

.date {
  display: flex;
  justify-content: center;
  margin-top: var(--arrow-spacing-s);
  font-weight: var(--arrow-fw-bold);
  line-height: var(--arrow-lh-2);
  font-size: var(--arrow-fs-xs);
  @media (min-width: mobile) {
    margin-top: var(--arrow-spacing-m);
  }
}

.info {
  text-align: center;
}

.dark {
  color: var(--arrow-c-mono2);
}

.light {
  color: var(--arrow-c-invert-mono2);
}
