.eleven-stories {
  padding: 0 var(--arrow-spacing-s);
}
.wrapper {
  display: flex;
  flex-direction: column;
}
.wrapper-with-divider {
  display: flex;
  flex-direction: column;
  margin: var(--arrow-spacing-xs) 0;
}
.divider.dark {
  border-left: 1px solid var(--dark-border);
}
.divider.light {
  border-left: 1px solid var(--light-border);
}
.column-one {
  border-bottom: 1px solid var(--arrow-c-mono5);
  margin-bottom: var(--arrow-spacing-s);
}

.column-two {
  order: -1;
  border-bottom: 1px solid var(--arrow-c-mono5);
  margin-bottom: var(--arrow-spacing-s);
}
.wrapper .column-one {
  border-bottom: unset;
}
.wrapper .column-two {
  border-bottom: unset;
}

.story-card {
  margin-bottom: var(--arrow-spacing-s);
}
.first-story-card {
  margin-bottom: var(--arrow-spacing-s);
}
.eleven-stories .child-collection-wrapper :global(.arr-collection-name-border-left) {
  font-size: var(--arrow-fs-s);
}

.eleven-stories .child-collection-wrapper :global(.arr--collection-name) {
  margin-bottom: var(--arrow-spacing-xs);
  font-size: var(--arrow-fs-s);
}

.column-one > :first-child :global(.arr--sub-headline),
.column-two > :last-child :global(.arr--sub-headline),
.column-three > :first-child :global(.arr--sub-headline) {
  display: none;
}

@media (min-width: 768px) {
  .eleven-stories {
    padding: 0;
  }
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: var(--arrow-spacing-l);
  }
  .wrapper-with-divider {
    display: grid;
    grid-template-columns: 1fr 1px 2fr 1px 1fr;
    grid-gap: var(--arrow-spacing-l);
    margin: var(--arrow-spacing-m) 0;
  }
  .column-one > :first-child :global(.arr--sub-headline),
  .column-two > :last-child :global(.arr--sub-headline),
  .column-three > :first-child :global(.arr--sub-headline) {
    display: block;
  }
  .column-two {
    order: 0;
    border-bottom: unset;
    margin-bottom: unset;
    padding-bottom: unset;
  }
  .column-one {
    border-bottom: unset;
    margin-bottom: unset;
    padding-bottom: unset;
  }
}
