.hero-image {
  margin: var(--arrow-spacing-xs) 0;
  padding-right: 0;
  flex-grow: 1;
  position: relative;
}
.right-padding {
  margin-bottom: 0;
  padding-right: var(--arrow-spacing-s);
  flex-grow: 1;
}

.left-padding {
  margin-bottom: 0;
  padding-left: var(--arrow-spacing-s);
  flex-grow: 1;
}

.right-padding-mob {
  margin-bottom: 0;
  padding-right: var(--arrow-spacing-s);
  flex-grow: 1;
  flex-basis: 30%;
}

.placeholder {
  background-color: lightgray;
}

html[dir="rtl"] {
  .right-padding,
  .right-padding-mob {
    padding-right: 0;
    padding-left: var(--arrow-spacing-s);
  }
}

.hero-image-mob {
  margin-bottom: var(--arrow-spacing-xs);
  padding-right: 0;
  flex-grow: 1;
}
.with-padding {
  padding: 16px 16px 0 16px;
}

.image {
  position: relative;
}
.image img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
}

@media only screen and (min-width: 768px) {
  html[dir="rtl"] {
    .right-padding-mob {padding-left: 0;}
  }
  .right-padding-mob {
    padding-right: 0;
    margin-bottom: var(--arrow-spacing-xs);
  }
}
