/* eslint-disable scss/at-rule-no-unknown */
@value viewports: "../../../../../../assets/stylesheets/viewports.m.css";
@value mobile from viewports;

.image-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: var(--arrow-spacing-xxs);
  @media (min-width: mobile) {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: var(--arrow-spacing-xs);
  }
}

.image-gallery figure,
.image-gallery .image {
  padding-top: 100%;
}

.image-gallery figure.image {
  position: relative;
  cursor: pointer;
}

.image img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
}

.template-2 .left-images {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: var(--arrow-fs-l);
  color: var(--arrow-c-light);
}
.left-images::before {
  content: "+";
}

.hyperlink-gallery-image {
  position: relative;
}
