/* eslint-disable scss/at-rule-no-unknown */
@value viewports: "../../../../../../assets/stylesheets/viewports.m.css";
@value mobile from viewports;

.blurb blockquote,
.blurb-default blockquote,
.blurb-withBorder blockquote {
  font-family: var(--arrow-typeface-secondary);
  font-size: var(--arrow-fs-s);
  line-height: var(--arrow-lh-5);
  @media (min-width: mobile) {
    font-size: var(--arrow-fs-m);
  }
}

.blurb blockquote,
.blurb-default blockquote {
  font-style: italic;
  padding-left: var(--arrow-spacing-m);
  @media (min-width: mobile) {
    padding-left: var(--arrow-spacing-l);
  }
}

.blurb-withBorder blockquote {
  padding: var(--arrow-spacing-s) var(--arrow-spacing-m);
  @media (min-width: mobile) {
    padding: var(--arrow-spacing-m) var(--arrow-spacing-l);
  }
}

html[dir="rtl"] {
  .blurb blockquote,
  .blurb-default blockquote {
    padding-left: 0;
    padding-right: var(--arrow-spacing-m);
    @media (min-width: mobile) {
      padding-right: var(--arrow-spacing-l);
    }
  }
}

.dark {
  color: var(--arrow-c-mono1);
  a {
    color: var(--arrow-c-mono2);
    border-bottom: 1px solid var(--arrow-c-mono2);
  }
}
.light {
  color: var(--arrow-c-invert-mono1);
  a {
    color: var(--arrow-c-invert-mono2);
    border-bottom: 1px solid var(--arrow-c-invert-mono2);
  }
}
