/* eslint-disable scss/at-rule-no-unknown */
.blurb blockquote,
.blurb-default blockquote,
.blurb-withBorder blockquote {
  font-family: var(--arrow-typeface-secondary);
  font-size: var(--arrow-fs-s);
  line-height: var(--arrow-lh-5);
}

.blurb blockquote,
.blurb-default blockquote {
  font-style: italic;
  padding-left: var(--arrow-spacing-m);
}

.blurb-withBorder blockquote {
  padding: var(--arrow-spacing-s) var(--arrow-spacing-m);
}

html[dir="rtl"] {
  .blurb blockquote,
  .blurb-default blockquote {
    padding-left: 0;
    padding-right: var(--arrow-spacing-m);
  }
}

.dark {
  color: var(--arrow-c-mono1);
  a {
    color: var(--arrow-c-mono2);
    border-bottom: 1px solid var(--arrow-c-mono2);
  }
}
.light {
  color: var(--arrow-c-invert-mono1);
  a {
    color: var(--arrow-c-invert-mono2);
    border-bottom: 1px solid var(--arrow-c-invert-mono2);
  }
}

@media (min-width: 768px) {
  .blurb blockquote,
  .blurb-default blockquote,
  .blurb-withBorder blockquote {
    font-size: var(--arrow-fs-m);
  }

  .blurb blockquote,
  .blurb-default blockquote {
    padding-left: var(--arrow-spacing-l);
  }

  .blurb-withBorder blockquote {
    padding: var(--arrow-spacing-m) var(--arrow-spacing-l);
  }

  html[dir="rtl"] {
    .blurb blockquote,
    .blurb-default blockquote {
      padding-right: var(--arrow-spacing-l);
    }
  }
}
