/* eslint-disable scss/at-import-partial-extension */
@import "../../../../../../assets/stylesheets/mixins.scss";
:root {
  --grid-container-width: 1140px;
  --fluid-grid-container-width: 1440px;
}

/*  Generinc style */
.headline-block :global(.arr--story-headline) {
  font-size: var(--arrow-fs-28);
  line-height: normal;
  @include tablet {
    font-size: var(--arrow-fs-big);
    line-height: var(--arrow-lh-2);
  }
}

.headline-block :global(.arr--sub-headline) {
  font-size: var(--arrow-fs-s);
  font-style: italic;
  margin: var(--arrow-spacing-xs) 0 var(--arrow-spacing-l);
  @include tablet {
    font-size: var(--arrow-fs-m);
    margin-bottom: var(--arrow-spacing-xl);
  }
}

.section-tag {
  margin-bottom: var(--arrow-spacing-s);
}
.caption-attribution-block {
  margin-bottom: var(--arrow-spacing-l);
  @include tablet {
    margin-bottom: var(--arrow-spacing-xl);
  }
}

.body-block :global(.arr--element-container) {
  margin-top: var(--arrow-spacing-s);
  @include tablet {
    margin-top: var(--arrow-spacing-m);
  }
}

.body-block :global(.story-element-title) {
  line-height: var(--arrow-lh-2);
}

.timestamp-social-share {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: var(--arrow-spacing-xxs) 0 var(--arrow-spacing-l);
}

.bullet-style-number {
  font-size: var(--arrow-fs-l);
  font-weight: var(--arrow-fw-bold);
  color: var(--arrow-c-brand1);
  @include tablet {
    font-size: var(--arrow-fs-huge);
    font-weight: var(--arrow-fw-semi-bold);
  }
}

.bullet-style-dash {
  content: "";
  width: 24px;
  height: 8px;
  background-color: var(--arrow-c-brand1);
  @include tablet {
    height: 12px;
  }
}

.story-tags > * {
  margin: var(--arrow-spacing-l) 0;
}

/* Layout */
.grid-container {
  max-width: var(--grid-container-width);
  padding: 0 var(--arrow-spacing-s);
  margin: 0 auto;
  @include tablet {
    display: grid;
    grid-column-gap: 24px;
    grid-template-columns: repeat(12, 1fr);
    padding: 0 var(--arrow-spacing-l);

    .full-grid {
      grid-column: 1 / 13;
      @include desktop {
        margin: 0 -24px;
      }
    }
  }
}

.left-column {
  @include tablet {
    grid-column: 1 / 8;
  }

  @include desktop {
    grid-column: 1 / 9;
  }
}

.right-column {
  @include tablet {
    grid-column: 8 / 13;
  }

  @include desktop {
    grid-column: 9 / 13;
  }
}

.right-column :global(.aside-collection-ad-slot:first-child) {
  margin-top: 0;
}

.center-column {
  @include tablet {
    grid-column: 3 / 11;
  }
}

/* Template specific */
.hero-faded-relative {
  position: relative;
}
.hero-faded-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: var(--z-index-1);
  background: rgb(0 0 0 / 0.5);

  display: flex;
  align-items: center;

  @include tablet {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
}

.hero-faded-wrapper .headline-content-holder {
  padding: 0 24px;

  @include tablet {
    grid-column: 2 / 12;
  }
  @include desktop {
    grid-column: 3 / 11;
  }
}

.numbered-bullet-style :global(.arr--story-page-card-wrapper) > :last-child {
  margin-bottom: var(--arrow-spacing-xl);
}

.hero-faded-wrapper .headline-content-holder :global(.arr--story-headline),
.hero-faded-wrapper .headline-content-holder :global(.arr--sub-headline),
.hero-faded-wrapper .headline-content-holder :global(.arr--section-name .section-tag) {
  color: var(--arrow-c-light);
}

.sideway-grid {
  padding: 0 var(--arrow-spacing-s);
  @include tablet {
    display: grid;
    max-width: var(--fluid-grid-container-width);
    margin: 0 auto var(--arrow-spacing-l);
    padding: 0 0 0 24px;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 24px;
  }

  @include desktop {
    padding: 0;
  }
}

.sideway-headline {
  @include tablet {
    grid-column: 1 / 6;
    display: flex;
    align-items: center;
  }
  @include desktop {
    grid-column: 2 / 7;
  }
}

.sideway-hero {
  @include tablet {
    grid-column: 6 / 13;

    .caption-attribution-block {
      margin-bottom: 0;
    }
  }
  @include desktop {
    grid-column: 7 / 13;
  }
}

.headline-priority-grid {
  @include tablet {
    grid-column: 1 / 13;
  }

  @include desktop {
    grid-column: 1 / 9;
  }
}

.hero-priority-template,
.headline-priority-template,
.headline-hero-priority-template,
.hero-overlay-template,
.headline-sideway-template {
  margin-top: var(--arrow-spacing-s);
  @include tablet {
    margin-top: var(--arrow-spacing-l);
  }
  @include desktop {
    margin-top: var(--arrow-spacing-xl);
  }
}

.numbered-bullet-style :global(.arr--story-page-card-wrapper) > * {
  margin-top: var(--arrow-spacing-xs);
  margin-bottom: var(--arrow-spacing-s);
  @include tablet {
    margin-bottom: var(--arrow-spacing-20);
    @include desktop {
      margin-top: var(--arrow-spacing-xxs);
    }
  }
}

.numbered-bullet-style :global(.story-element-title) h2 {
  padding: 0;
}
