.three-col-grid {
  padding: 0 var(--arrow-spacing-s);
}
.wrapper {
  display: flex;
  flex-direction: column;
  margin: var(--arrow-spacing-xs) 0 0;
}
.ad {
  margin-bottom: var(--arrow-fs-xs);
}

.cards {
  margin-bottom: var(--arrow-spacing-m);
}

.wrapper > :first-child,
.ad {
  order: -1;
}

.three-col-grid :global(.arr--story-card .arr--hero-image) {
  flex-basis: 40%;
}
.three-col-grid :global(.arr--story-card .arr--content-wrapper) {
  flex-basis: 60%;
}

@media (min-width: 768px) {
  .wrapper > :first-child,
  .ad {
    order: 0;
  }
  .cards {
    margin-bottom: 0;
  }
  .three-col-grid {
    padding: 0;
  }
  .wrapper {
    display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: var(--arrow-spacing-l);
      margin: var(--arrow-spacing-m) 0;
  }
}
