@custom-media --viewport-medium (width >= 992px);
@custom-media --viewport-tab (width >= 768px);

.columns-container {
  display: grid;
  grid-template-columns: 1fr;
  @media (--viewport-medium) {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: var(--arrow-spacing-l);
  }

  :global .arr--story-card {
    margin-bottom: var(--arrow-spacing-m);
  }
}

.small-card-content-container {
  margin-left: var(--arrow-spacing-xs);
  @media (--viewport-medium) {
    margin-left: var(--arrow-spacing-s);
  }
}

html[dir="rtl"] {
  .small-card-content-container {
    margin-left: 0;
    margin-right: var(--arrow-spacing-xs);
    @media (--viewport-medium) {
      margin-right: var(--arrow-spacing-s);
    }
  }

  .arrow-icon {
    transform: rotate(-180deg);
  }

  .ltr-icon {
    display: none;
  }
}

.other-news-container {
  display: flex;
  align-items: center;
}

.other-news-text {
  margin-right: 6px;
  font-size: var(--arrow-fs-xs);
  font-weight: bold;
  color: var(--arrow-c-mono1);
}

.other-news-link {
  display: flex;
  justify-content: flex-end;
  margin: var(--arrow-spacing-l) 0;
}

.collection-name-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.other-news-top-container {
  margin-bottom: var(--arrow-spacing-m);
  @media (--viewport-tab) {
    margin-bottom: var(--arrow-spacing-l);
  }
}
