.ugc-wrapper {
  :global .qt-loading-animation {
    top: 35%;

    @media (min-width: 876px) {
      top: 55%;
      position: absolute;
    }
  }

  @media (min-width: 876px) {
    height: 100vw;
  }

  :global .dropdown-list {
    width: 50%;
    margin: 0 auto 24px;

    @media (min-width: 876px) {
      width: 30%;
      margin-bottom: 32px;
    }
  }
}
