@import "../../../../../../../assets/stylesheets/mixins.scss";

.slide {
  position: relative;
}

.slideshow {
  @include mobile {
    width: 90vw;
    margin: 0 auto;
  }
}

.caption {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  text-align: center;
  color: var(--arrow-c-light);
}

.slideshow figure {
  padding-top: 56.65%;
  position: relative;
  margin: 0;
}

.image-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgba(var(--arrow-c-dark), 0.5), transparent 70%, transparent);
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  object-fit: cover;
}
