/* eslint-disable scss/at-rule-no-unknown */
.connect {
  font-size: var(--arrow-spacing-m);
  line-height: var(--arrow-lh-5);
  color: var(--arrow-c-mono4);
  align-self: center;
  margin-bottom: var(--arrow-spacing-xxs);
}

.social-share {
  flex: 1;
  padding: var(--arrow-spacing-xs);
}

.share-icon {
  display: flex;
  align-items: flex-end;
  margin-right: var(--arrow-spacing-l);
}

.default .author-image {
  align-self: center;
}

.default .author-name {
  color: var(--arrow-c-mono2);
  font-weight: var(--arrow-fw-bold);
  line-height: var(--arrow-lh-5);
  align-self: center;
  margin: var(--arrow-spacing-xs) 0 var(--arrow-spacing-xxs);
}

.default .author-description {
  margin: var(--arrow-spacing-s) 0;
  color: var(--arrow-c-mono4);
  font-size: var(--arrow-spacing-m);
  line-height: var(--arrow-lh-5);
  white-space: pre-line;
}

.default .wrapper {
  display: flex;
  flex-direction: column-reverse;
  padding: 0 var(--arrow-spacing-s) var(--arrow-spacing-m) var(--arrow-spacing-s);
}

.default .introduction-card {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
}

.default .social-wrapper {
  margin-top: var(--arrow-spacing-xs);
  display: flex;
  justify-content: space-between;
}

.default .linkWrapper {
  display: flex;
}

.default .social-wrapper > :nth-child(2) {
  margin-top: var(--arrow-spacing-xxs);
}

.default .social-connect-wrapper > :nth-child(2) {
  margin-left: unset;
}

.default .wrapper.dark {
  border-bottom: 1px solid var(--dark-border);
}

.default .wrapper.light {
  border-bottom: 1px solid var(--light-border);
}

.small-circle.border {
  border-radius: 3px;
  padding: var(--arrow-spacing-m);
}

.small-circle.border.dark {
  border: solid 1px var(--dark-border);
}

.small-circle.border.light {
  border: solid 1px var(--light-border);
}

.small-circle .wrapper {
  display: flex;
  flex-direction: column-reverse;
}

.small-circle .author-image {
  display: flex;
  align-items: center;
}

.small-circle .author-name {
  color: var(--arrow-c-mono2);
  font-size: var(--arrow-fs-s);
  line-height: var(--arrow-lh-3);
  font-weight: var(--arrow-fw-bold);
}

.small-circle .author-image > div {
  margin-right: var(--arrow-spacing-m);
}

.small-circle .author-description,
.small-circle .connect {
  font-size: var(--arrow-fs-tiny);
  line-height: var(--arrow-lh-5);
  color: var(--arrow-c-mono4);
}

.small-circle .author-description {
  position: relative;
  max-height: 63px;
  overflow: hidden;
  margin-top: var(--arrow-spacing-xs);
}

.small-circle .fade-out {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 90%;
  height: 21px;
  background-image: inherit;
}

.small-circle .social-connect-wrapper {
  margin-top: var(--arrow-spacing-xxs);
}

.small-circle.border .social-connect-wrapper {
  margin-top: var(--arrow-spacing-xs);
}

.default .dark,
.small-circle .dark {
  color: var(--arrow-c-mono2);
}

.default .light,
.small-circle .light {
  color: var(--arrow-c-invert-mono2);
}

.default .social-connect-wrapper > :nth-child(2),
.small-circle .social-connect-wrapper > :nth-child(1) {
  padding-left: unset;
}

.small-circle .social-share {
  padding: var(--arrow-spacing-m) var(--arrow-spacing-xs) var(--arrow-spacing-xs);
}

@media (min-width: 768px) {
  .small-circle .social-connect-wrapper {
    margin-top: var(--arrow-spacing-xs);
  }
  .small-circle .author-description,
  .small-circle .connect {
    font-size: var(--arrow-fs-tiny);
  }
  .small-circle .author-image > div {
    margin-right: unset;
  }
  .small-circle .author-name {
    font-size: var(--arrow-fs-m);
    margin-top: var(--arrow-spacing-m);
  }
  .small-circle .author-image {
    justify-content: center;
    align-items: unset;
  }
  .small-circle .introduction-card {
    text-align: center;
  }

  .small-circle.border {
    padding: var(--arrow-spacing-l) var(--arrow-spacing-s);
  }
  .small-circle {
    padding: var(--arrow-spacing-l) var(--arrow-spacing-s);
    height: 100%;
  }
  .default .social-connect-wrapper > :nth-child(2) {
    margin-left: var(--arrow-spacing-xs);
  }
  .default .social-wrapper > :nth-child(2) {
    margin-top: unset;
  }
  .default .social-connect-wrapper {
    display: flex;
  }
  .default .author-name {
    line-height: var(--arrow-lh-2);
    align-self: flex-start;
  }
  .default .wrapper {
    display: grid;
    grid-gap: var(--arrow-fs-l);
    grid-template-columns: repeat(12, 1fr);
    padding: 0 0 var(--arrow-fs-xxl) 0;
  }
  .default .author-image {
    grid-column: 8/12;
  }
  .default .introduction-card {
    grid-column: 2/8;
  }
  .default .social-wrapper {
    align-items: center;
  }
}

@media (min-width: 992px) {
  .small-circle {
    padding: var(--arrow-spacing-xl);
  }

  .small-circle.border {
    padding: var(--arrow-spacing-xl);
  }
  html[dir="rtl"] {
    .default :global(.desktop-share-wrapper) {
      position: static;
    }
  }
  .default .social-connect-wrapper {
    margin-top: var(--arrow-spacing-xs);
    display: block;
  }

  .default :global(.desktop-share-wrapper) {
    position: absolute;
    right: 0;
    max-width: 42px;
  }

  .default .social-connect-wrapper > :nth-child(2) {
    margin-left: unset;
  }
  .default .introduction-card {
    grid-column: 2/7;
  }

  .default .social-wrapper {
    margin-top: unset;
    position: relative;
    align-items: unset;
  }

  .default .connect {
    margin-bottom: var(--arrow-spacing-xs);
  }
}
