/* eslint-disable scss/at-rule-no-unknown */
.timeStamp {
  font-size: var(--arrow-fs-tiny);
}

.timeStamp.dark {
  color: var(--arrow-c-mono4);
}

.timeStamp.light {
  color: var(--arrow-c-invert-mono4);
}

.publish-details {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.update-details {
  display: flex;
  margin-top: var(--arrow-spacing-xs);
  align-items: baseline;
  flex-wrap: wrap;
}
.dot-indicator {
  display: flex;
  align-items: center;
  padding: 0 var(--arrow-spacing-xs);
}

.timeStamp :global(.arr--read-time) {
  font-size: var(--arrow-fs-tiny);
}

.date.dark {
  color: var(--arrow-c-mono2);
}
.date.light {
  color: var(--arrow-c-invert-mono2);
}

@media only screen and (min-width: 768px) {
  .timeStamp {font-size: var(--arrow-fs-xs);}
  .timeStamp :global(.arr--read-time) {font-size: var(--arrow-fs-xs);}
}
