.container {
  border-bottom: 1px solid var(--arrow-c-mono5);
}

.event-title > h3 {
  font-size: var(--arrow-fs-xs);
}

.container:global(.arrow-component) > h3 {
  font-size: var(--arrow-fs-m);
  padding: var(--arrow-spacing-xs);
}

.cards-wrapper {
  margin-top: var(--arrow-spacing-s);
}

.time-wrapper {
  display: flex;
  align-items: center;
  font-size: var(--arrow-fs-tiny);
  svg {
    margin-right: var(--arrow-spacing-xxs);
  }
}

.event-title {
  position: relative;
  padding: 0 14px 28px;
  margin-left: var(--arrow-spacing-s);
}

.event-title.dark {
  border-left: 1px solid var(--arrow-c-mono5);
}

.event-title.light {
  border-left: 1px solid var(--arrow-c-invert-mono5);
}

.dark {
  color: var(--arrow-c-mono2);
}

.light {
  color: var(--arrow-c-invert-mono2);
}

.light.borderNone,
.dark.borderNone {
  border-left: none;
}

.fade-out {
  position: absolute;
  top: -20px;
  height: 100%;
  width: 100%;
  background-image: inherit;
  pointer-events: none;
}

.container.light {
  border-bottom: 1px solid var(--arrow-c-invert-mono5);
}

html[dir="rtl"] {
  .time-wrapper {
    direction: ltr;
    flex-direction: row-reverse;
    svg {
      margin-right: 0;
      margin-left: var(--arrow-spacing-xxs);
    }
  }
  .time-wrapper > time {
    direction: rtl;
  }

  .rtl-date-time.time-wrapper > time {
    direction: ltr;
  }

  .event-title.dark,
  .event-title.light {
    border-right: 1px solid var(--arrow-c-mono5);
    border-left: none;
    margin-left: 0;
    margin-right: var(--arrow-spacing-s);
  }

  .light.borderNone,
  .dark.borderNone {
    border-right: none;
  }
}
