.tags {
  display: inline-block;
  font-size: var(--arrow-fs-xs);
  text-align: center;
  border-radius: 3px;
  margin: var(--arrow-spacing-xs);
  padding: 5px var(--arrow-fs-xs) 7px;
}

.tags.roundCorners {
  border-radius: var(--arrow-fs-xs);
}

.tags.dark {
  color: var(--arrow-c-mono4);
  border: 1px solid var(--dark-border);
}

.tags.light {
  color: var(--arrow-c-invert-mono4);
  border: 1px solid var(--light-border);
}

.tags.dark:hover {
  background-color: var(--arrow-c-mono7);
}

.tags.light:hover {
  background-color: var(--arrow-c-invert-mono7);
}

:global(.arr--story-tags) > :first-child {
  margin-left: 0px;
}
