@import "../../../../assets/stylesheets/mixins.scss";

.menu-link {
  padding: 12px 24px;
  cursor: pointer;
  line-height: 18px;
}

.menu-items-footer {
  padding: 4px 0;
}

.menu-link:has(svg){
  :first-child {
    align-content: center;
  }
}
.trending-svg {
  stroke: var(--light-link-blue);
  stroke-width: 1;
  stroke-opacity: 0.1;
}
.new-svg {
  background: var(--light-interactive-red);
  stroke: white;
  stroke-opacity: 1;
}
.download-svg{
  stroke: var(--light-ink-subtle);
  stroke-width: 0;
  stroke-opacity: 0;
}
