.horizontal {
  display: flex;
  flex-direction: column;
}
.content {
  flex-basis: 50%;
}

.border {
  border: 1px solid var(--arrow-c-mono5);
}

@media(min-width: 768px) {
  .horizontal {
    display: grid;
    flex-direction: column;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 24px;
  }
  .content {
    margin: var(--arrow-spacing-l) 40px var(--arrow-spacing-l) 0;
  }
  .border .content {
    margin: var(--arrow-spacing-l) 40px var(--arrow-spacing-l) 0;
  }
  html[dir="rtl"] {
    .content,
    .border .content {
      margin: var(--arrow-spacing-l) 0 var(--arrow-spacing-l) 40px;
    }
  }
  .horizontal > :first-child {
    margin-bottom: 0;
  }
}
