.wrapper {
  display: block;
}

:global(.arrow-component.arr--story-headline h1) {
  margin: 0;
}

.headline {
  margin-bottom: var(--arrow-spacing-xxs);
  color: var(--arrow-c-mono2);
  font-weight: var(--arrow-fw-semi-bold);
  text-transform: unset;
}

.premium-wrapper .headline {
  display: inline;
}

.dark {
  color: var(--arrow-c-mono2);
}
.light {
  color: var(--arrow-c-invert-mono2);
}

html[dir="rtl"] {
  .headline bdi {
    direction: rtl;
  }
}

@media (min-width: 768px) {
  .headline {
    margin-bottom: var(--arrow-spacing-xs);
  }
}
