.magazine-header {
  display: grid;
  grid-gap: var(--arrow-fs-l);
  margin: 0 var(--arrow-fs-xs);
}

.content {
  text-align: center;
}

.time {
  font-size: var(--arrow-fs-xs);
  font-weight: var(--arrow-fw-bold);
  line-height: var(--arrow-lh-1);
}

.magazine-header :global(.arr--collection-name) {
  margin: var(--arrow-spacing-xs) 0;
}

.story-cards {
  display: grid;
  grid-gap: var(--arrow-fs-xs);
  grid-template-columns: 1fr;
  :global(.arr--story-card) {
    display: grid;
    grid-template-columns: 1fr 4fr;
  }
}

.widget {
  margin-top: var(--arrow-spacing-xl);
}


.summary {
  font-size: var(--arrow-fs-xs);
}

.summary.dark {
  color: var(--arrow-c-mono4);
}

.summary.light {
  color: var(--arrow-c-invert-mono4);
}

.dark {
  color: var(--arrow-c-mono2);
}
.light {
  color: var(--arrow-c-invert-mono2);
}

html[dir="rtl"] {
  .time {
    direction: ltr;
    text-align: right;
  }
}

@media(min-width: 768px) {
  .magazine-header {
    grid-template-columns: 1fr 3fr;
  }
  .content {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .story-cards {
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--arrow-spacing-l);
  }
  .widget {
    grid-column: 1/3;
    margin-top: var(--arrow-spacing-l);
  }
  html[dir="rtl"] {
    .intro-button :global(.arr--button) {
      margin: var(--arrow-spacing-l) 0 0;
    }
  }
  .summary {
    font-size: var(--arrow-fs-s);
  }
  .intro-button :global(.arr--button) {
    margin: var(--arrow-spacing-l) 0 0;
  }
}
@media(min-width: 992px) {
  .widget-button :global(.arr--button) {
    margin: var(--arrow-spacing-l) 0 0;
  }
  .magazine-header {
    margin: 0 0 var(--arrow-spacing-xs);
    grid-row-gap: 0;
    grid-column-gap: 48px;
  }
}
