.wrapper {
  flex-basis: 70%;
}
.horizontal-content-wrapper.border-full {
  padding: 16px 16px 16px 0;
}

.border-full {
  padding: 12px 0 0 0;
}
@media (min-width: 768px) {
  .wrapper {
    flex-basis: 100%;
  }
  .horizontal-content-wrapper.border-full {
    padding: 0 16px 16px 16px;
  }
  .border-full {
    padding: 0 16px 16px 16px;
  }
}
