@custom-media --viewport-medium (width >= 768px);
@custom-media --viewport-small (width < 768px);

.wrapper {
  flex-basis: 60%;
  @media (--viewport-medium) {
    flex-basis: 100%;
  }
}
.horizontal-content-wrapper.border-full {
  padding: 0;
  @media (--viewport-medium) {
    padding: 0 var(--arrow-spacing-m) var(--arrow-spacing-m);
  }
}

.border-full {
  @media (--viewport-medium) {
    padding: 0 var(--arrow-spacing-m) var(--arrow-spacing-m);
  }
}

.border-full.content-wrapper {
  @media (--viewport-small) {
    padding: 0 var(--arrow-spacing-s) var(--arrow-spacing-s);
  }
}
