/* Global CSS */

:root {
  /* Colour Palette */
  --arrow-c-brand1: #ff214b;
  --arrow-c-brand2: #1bbb87;
  --arrow-c-brand3: #6fe7c0;
  --arrow-c-brand4: #f6f8ff;
  --arrow-c-brand5: #e9e9e9;
  --arrow-c-accent1: #2fd072;
  --arrow-c-accent2: #f5a623;
  --arrow-c-accent3: #f81010;
  --arrow-c-accent4: #d71212;
  --arrow-c-accent5: #f2f2f2;
  --arrow-c-accent6: #e8eaed;
  --arrow-c-mono1: rgba(0, 0, 0, 1);
  --arrow-c-mono2: rgba(0, 0, 0, 0.9);
  --arrow-c-mono3: rgba(0, 0, 0, 0.7);
  --arrow-c-mono4: rgba(0, 0, 0, 0.6);
  --arrow-c-mono5: rgba(0, 0, 0, 0.3);
  --arrow-c-mono6: rgba(0, 0, 0, 0.2);
  --arrow-c-mono7: rgba(0, 0, 0, 0.1);
  --arrow-c-invert-mono1: rgba(255, 255, 255, 1);
  --arrow-c-invert-mono2: rgba(255, 255, 255, 0.9);
  --arrow-c-invert-mono3: rgba(255, 255, 255, 0.7);
  --arrow-c-invert-mono4: rgba(255, 255, 255, 0.6);
  --arrow-c-invert-mono5: rgba(255, 255, 255, 0.3);
  --arrow-c-invert-mono6: rgba(255, 255, 255, 0.2);
  --arrow-c-invert-mono7: rgba(255, 255, 255, 0.1);
  --arrow-c-invert-mono8: rgba(222, 222, 222, 1);
  --arrow-c-invert-mono9: rgba(222, 222, 222, 0.1);
  --arrow-c-dark: #0d0d0d;
  --arrow-c-light: #ffffff;
  /* Spacing */
  --arrow-spacing-xxs: 4px;
  --arrow-spacing-xs: 8px;
  --arrow-spacing-s: 12px;
  --arrow-spacing-m: 16px;
  --arrow-spacing-20: 20px;
  --arrow-spacing-l: 24px;
  --arrow-spacing-xl: 32px;
  --arrow-spacing-28: 28px;
  --arrow-spacing-48: 48px;
  --arrow-spacing-96: 96px;
  /* Font Scale */
  --arrow-fs-tiny: 14px;
  --arrow-fs-xs: 16px;
  --arrow-fs-s: 18px;
  --arrow-fs-m: 20px;
  --arrow-fs-l: 24px;
  --arrow-fs-xl: 26px;
  --arrow-fs-xxl: 30px;
  --arrow-fs-huge: 32px;
  --arrow-fs-big: 40px;
  --arrow-fs-jumbo: 54px;

  --arrow-fs-28: 28px;

  /* Font Family */
  --arrow-typeface-primary: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
  --arrow-typeface-secondary: Verdana, Geneva, Tahoma, sans-serif;
  --arrow-sans-serif: sans-serif;
  /* Line height */
  --arrow-lh-1: 1;
  --arrow-lh-2: 1.2;
  --arrow-lh-3: 1.3;
  --arrow-lh-4: 1.4;
  --arrow-lh-5: 1.5;
  /* Font Weight */
  --arrow-fw-light: 300;
  --arrow-fw-normal: 400;
  --arrow-fw-semi-bold: 600;
  --arrow-fw-bold: 700;
  /* Border Color */
  --light-border: var(--arrow-c-invert-mono7);
  --dark-border: var(--arrow-c-mono7);
  /* Fallback Image Color */
  /* need to update this color in future */
  --fallback-img: rgb(232, 232, 232);
  /* Z-Index */
  --z-index-9: 9;
  --z-index-1: 1;
}

.arrow-component {
  font-family: var(--arrow-typeface-primary);
  font-weight: var(--arrow-fw-normal);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  ol {
    font-family: var(--arrow-typeface-primary);
  }
  p,
  li {
    font-size: var(--arrow-fs-xs);
    line-height: var(--arrow-lh-1);
  }

  figure {
    margin: 0;
    padding: 0;
  }
  /* Typescale */
  h1 {
    font-size: var(--arrow-fs-28);
    font-weight: var(--arrow-fw-bold);
    font-stretch: normal;
    font-style: normal;
    line-height: var(--arrow-lh-3);
    letter-spacing: normal;
    @media only screen and (min-width: 768px) {
      font-size: var(--arrow-fs-big);
    }
  }
  h2 {
    font-size: var(--arrow-fs-l);
    font-weight: var(--arrow-fw-bold);
    font-stretch: normal;
    font-style: normal;
    line-height: var(--arrow-lh-3);
    letter-spacing: normal;
    @media only screen and (min-width: 768px) {
      font-size: var(--arrow-fs-huge);
    }
  }
  h3 {
    font-size: var(--arrow-fs-m);
    font-weight: var(--arrow-fw-bold);
    font-stretch: normal;
    font-style: normal;
    line-height: var(--arrow-lh-3);
    letter-spacing: normal;
    @media only screen and (min-width: 768px) {
      font-size: var(--arrow-fs-l);
    }
  }
  h4 {
    font-size: var(--arrow-fs-s);
    font-weight: var(--arrow-fw-bold);
    font-stretch: normal;
    font-style: normal;
    line-height: var(--arrow-lh-3);
    letter-spacing: normal;
    @media only screen and (min-width: 768px) {
      font-size: var(--arrow-fs-m);
    }
  }
  h5 {
    font-size: var(--arrow-fs-xs);
    font-weight: var(--arrow-fw-bold);
    font-stretch: normal;
    font-style: normal;
    line-height: var(--arrow-lh-3);
    letter-spacing: normal;
    @media only screen and (min-width: 768px) {
      font-size: var(--arrow-fs-s);
    }
  }
  h6 {
    font-size: var(--arrow-fs-xs);
    font-weight: var(--arrow-fw-bold);
    font-stretch: normal;
    font-style: normal;
    line-height: var(--arrow-lh-3);
    letter-spacing: normal;
  }
  p {
    font-size: var(--arrow-fs-m);
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: var(--arrow-lh-5);
    letter-spacing: normal;
    font-family: var(--arrow-typeface-secondary);
    word-break: break-word;
  }
}

.arrow-component.full-width-with-padding {
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  padding: var(--arrow-spacing-m) calc(50vw - 50%) var(--arrow-spacing-xs) calc(50vw - 50%);
}

.p-alt {
  font-size: var(--arrow-fs-xs);
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: var(--arrow-lh-5);
  letter-spacing: normal;
}

.time {
  font-size: var(--arrow-fs-tiny);
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
}

.author-name {
  font-size: var(--arrow-fs-tiny);
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
}

.section-tag {
  font-size: var(--arrow-fs-tiny);
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.arr-hidden-desktop {
  display: none;
  @media only screen and (max-width: 768px) {
    display: block;
  }
}

.arr-hidden-mob {
  display: block;
  @media only screen and (max-width: 768px) {
    display: none;
  }
}

.arr-custom-style a {
  color: var(--arrow-c-mono2);
  border-bottom: 1px solid var(--arrow-c-mono2);
}

.arr-story-grid {
  display: grid;
  grid-column-gap: var(--arrow-spacing-l);
  grid-template-columns: repeat(4, minmax(auto, 150px));
  position: relative;
  margin: 0 12px;
  @media only screen and (min-width: 768px) {
    grid-template-columns:
      [grid-start] minmax(48px, auto) [container-start] repeat(12, minmax(auto, 55px)) [container-end] minmax(
        48px,
        auto
      )
      [grid-end];
    margin: unset;
    @media only screen and (min-width: 1025px) {
      grid-template-columns:
        [grid-start] minmax(56px, auto) [container-start] repeat(12, minmax(auto, 73px)) [container-end] minmax(
          56px,
          auto
        )
        [grid-end];
    }
  }
}

.content-style {
  display: contents;
}
