img.qt-image {
  object-fit: contain;
}

.qt-image-16x9 {
  padding-top: 56.25%;
  margin: 0;
  position: relative;
  overflow: hidden;

  & img {
    position: absolute;
    top: 0;
    left: 0;
  }
}
