/* eslint-disable scss/at-rule-no-unknown */
.wrapper {
  border-radius: var(--arrow-spacing-xxs);
  padding: var(--arrow-spacing-m);
  margin-bottom: var(--arrow-spacing-l);
}

.name {
  font-size: var(--arrow-fs-m);
  font-weight: var(--arrow-fw-bold);
  line-height: var(--arrow-lh-3);
  margin-bottom: var(--arrow-spacing-m);
}

.description {
  font-size: var(--arrow-fs-s);
  line-height: var(--arrow-lh-5);
}

.dark {
  background-color: var(--arrow-c-mono7);
  border: solid 1px var(--arrow-c-mono7);
  color: var(--arrow-c-mono2);
}

.light {
  background-color: var(--arrow-c-invert-mono7);
  border: solid 1px var(--arrow-c-invert-mono7);
  color: var(--arrow-c-invert-mono2);
}

@media (min-width: 768px) {
  .name {
    font-size: var(--arrow-fs-l);
  }
  .description {
    font-size: var(--arrow-fs-m);
  }
}

@media (min-width: 992px) {
  .wrapper {
    padding: var(--arrow-spacing-l);
  }
}
