.half-screen-slider {
  padding: var(--arrow-spacing-s) var(--arrow-spacing-s) 0
}
.wrapper {
  margin: var(--arrow-spacing-xs) 0;
  :global .live-icon {
    animation: blink 1.5s linear infinite;
    vertical-align: middle;
    height: 24px;
    width: 24px;
  }

  @keyframes blink {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }
}

.border.dark {
  border: 1px solid var(--dark-border);
}

.border.light {
  border: 1px solid var(--light-border);
}

.half-screen-slider :global(.arr--content) {
  padding-bottom: var(--arrow-spacing-m);
}
.half-screen-slider .border :global(.arr--content) {
  padding: var(--arrow-spacing-m) var(--arrow-spacing-m) var(--arrow-spacing-xl) var(--arrow-spacing-m);
}

@media(min-width: 768px) {
  .half-screen-slider .border :global(.arr--content) {
    padding: unset;
  }
  .half-screen-slider :global(.arr--content) {
    padding-bottom: unset;
  }
  .wrapper {
    margin: var(--arrow-spacing-m) 0;
    :global .scroll-snap-container .arr--responsive-hero-image .story-icon,
    :global .scroll-snap-container .arr--fallback-hero-image .story-icon {
      height: 64px;
      width: 64px;
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: var(--z-index-1);
    }
  }
  .half-screen-slider {
    padding: 0;
  }
}
@media(max-width: 767px) {
  .wrapper {
    :global .scroll-snap-container .arr--responsive-hero-image .story-icon,
    :global .scroll-snap-container .arr--fallback-hero-image .story-icon {
      height: 24px;
      width: 24px;
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: var(--z-index-1);
    }
  }
}
