@import "../../../../../../assets/stylesheets/mixins.scss";

.desktop-view {
  display: none;
  @include desktop {
    display: flex;
  }
}

.tablet-view {
  @include desktop {
    display: none;
  }
}
.wrapper {
  list-style: none;
  align-items: center;
  transition: all 0.3s;
  z-index: var(--z-index-1);
  flex-direction: row-reverse;
  overflow: hidden;
}

.horizontal .wrapper {
  display: flex;
  max-width: var(--arrow-fs-big);
  @include desktop {
    max-width: 120px;
  }
}

.vertical .wrapper {
  flex-direction: column;
  border-radius: 50%;
  max-height: var(--arrow-fs-big);
  @include desktop {
    position: inherit;
    right: var(--arrow-spacing-l);
    border-radius: unset;
    max-height: 132px;
  }
}

.light.vertical .wrapper {
  background-color: var(--arrow-c-dark);
  box-shadow: 0 0 4px 0 rgba(255, 255, 255, 0.17);
  @include desktop {
    background-color: inherit;
    box-shadow: unset;
  }
}

.dark.vertical .wrapper {
  background-color: var(--arrow-c-light);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.17);
  @include desktop {
    background-color: inherit;
    box-shadow: unset;
  }
}

.icon {
  padding: var(--arrow-spacing-xs);
}

.wrapper.open {
  @include desktop {
    border-radius: var(--arrow-spacing-xxs);
  }
}

.light .wrapper.open {
  @include desktop {
    border: solid 0.6px var(--arrow-c-invert-mono7);
  }
}

.dark .wrapper.open {
  @include desktop {
    border: solid 0.6px var(--arrow-c-mono7);
  }
}

.horizontal .wrapper.open {
  @include desktop {
    max-width: 240px;
  }
}

.vertical .wrapper.open {
  @include desktop {
    max-height: 240px;
  }
}

.icon:hover {
  @include tablet {
    background-color: var(--arrow-c-mono7);
    border-radius: 50%;
  }
}

.popup-wrapper {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  @include tablet {
    position: absolute;
    width: 328px;
  }
}

.popup-wrapper.popup-open {
  @include mobile {
    transition: transform 0.6s;
  }
  @include tablet {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%, -50%);
  }
}

html[dir="rtl"] {
  .popup-wrapper.popup-open {
    @include tablet {
      right: 50%;
      transform: translate(50%, -50%);
      -ms-transform: translateX(50%) translateY(-50%);
      -webkit-transform: translate(50%, -50%);
    }
  }
}

.overlay {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1100;
  overflow-y: scroll;
  position: fixed;
  @include desktop {
    position: initial;
  }
}

.light .overlay {
  background-color: rgba(13, 13, 13, 0.77);
}

.dark .overlay {
  background-color: rgba(255, 255, 255, 0.77);
}

.tablet-view-popup:global(.arr--share) {
  position: sticky;
  position: -webkit-sticky;
  bottom: 56px;
  height: 0;
  text-align: center;
  @include tablet {
    right: 24px;
    @include desktop {
      bottom: unset;
      height: unset;
      text-align: unset;
    }
  }
}
