.container {
  :global {
    .youtube-playBtn {
      position: absolute;
      background-color: var(--arrow-c-mono4);
      border-radius: 50%/10%;
      font-size: 0;
      height: 48px;
      width: 70px;
      top: 50%;
      left: 50%;
      border: none;
      cursor: pointer;
      z-index: var(--z-index-1);
      transform: translateX(-50%) translateY(-50%);
    }

    .youtube-playBtn:hover {
      background-color: var(--arrow-c-accent4);
    }

    .youtube-playBtn::after {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 9px 0 9px 18px;
      border-color: transparent transparent transparent var(--arrow-c-invert-mono3);
      margin: 0 auto;
    }

    .thumbnail-wrapper {
      position: relative;
      padding-top: 56.25%;
      height: 100%;
      width: 100%;
      img,
      iframe {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        height: 100%;
        width: 100%;
      }
      iframe {
        z-index: var(--z-index-9);
      }
      img {
        object-fit: cover;
      }
    }

    .story-element-jsembed .thumbnail-wrapper img {
      width: 100%;
    }

    .brightcove-playBtn,
    .dailymotion-playBtn {
      background-color: var(--arrow-c-invert-mono5);
      border-radius: 50%;
      font-size: 0;
      height: 64px;
      padding: 0;
      width: 64px;
      position: absolute;
      top: 50%;
      left: 50%;
      border: none;
      cursor: pointer;
      z-index: var(--z-index-1);
      transform: translateX(-50%) translateY(-50%);
    }

    .brightcove-playBtn:hover,
    .dailymotion-playBtn:hover {
      background-color: var(--arrow-c-brand1);
    }

    .brightcove-playBtn::after,
    .dailymotion-playBtn::after {
      position: relative;
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 12px 0 12px 18px;
      border-color: transparent transparent transparent var(--arrow-c-invert-mono3);
      margin: 0 auto;
      left: 3px;
    }
  }
}

.wrapper,
.container :global(.brightcove-wrapper) {
  position: relative;
  padding-top: 56.25%;
}

.wrapper :global(.story-element-jsembed-dailymotion-video),
.wrapper :global(.story-element-youtube-video) iframe,
.container :global(.brightcove-poster),
.container :global(.brightcove-poster-fallback),
.container :global(.brightcove-player),
.container :global(.brightcove-player .video-js) {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.container.dark :global(.brightcove-poster-fallback) {
  background-color: black;
}

.container.light :global(.brightcove-poster-fallback) {
  background-color: #363636;
}
