.four-col-portrait {
  padding: 0 var(--arrow-spacing-s);
}

.wrapper {
  display: grid;
  margin: var(--arrow-spacing-xs) 0 0;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: var(--arrow-spacing-s);

  :global {
    .arr--headline > a > h6 {
      font-size: var(--arrow-fs-tiny);
    }

    .arr--content-wrapper time,
    .arr--read-time,
    .author-name {
      font-size: 12px;
    }
  }

}

@media (min-width: 1025px) {
  .four-col-portrait {
    padding: 0;
  }
  .wrapper {
    grid-template-columns: repeat(4, 1fr);
    margin: var(--arrow-spacing-m) 0;
    grid-gap: var(--arrow-spacing-l);
  }
  :global {
    .arr--headline > a > h6 {
      font-size: var(--arrow-fs-xs);
    }

    .arr--content-wrapper time,
    .arr--read-time,
    .author-name {
      font-size: var(--arrow-fs-tiny);
    }
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .wrapper {
    :global .arr--headline > a > h6 {
      font-size: var(--arrow-fs-l);
    }
  }
}
