@custom-media --viewport-medium (width >= 768px);
.three-col-grid {
  padding: 0 var(--arrow-spacing-s);
  @media (--viewport-medium) {
    padding: 0;
  }
  border: 10px solid green;
}
.wrapper {
  display: flex;
  flex-direction: column;
  margin: var(--arrow-spacing-xs) 0 0;
  @media (--viewport-medium) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: var(--arrow-spacing-l);
    margin: var(--arrow-spacing-m) 0;
  }
}
.ad {
  margin-bottom: var(--arrow-fs-xs);
}

.cards {
  margin-bottom: var(--arrow-spacing-m);
  @media (--viewport-medium) {
    margin-bottom: 0;
  }
  border: 10px solid greenyellow;
}

.wrapper > :first-child,
.ad {
  order: -1;
  @media (--viewport-medium) {
    order: 0;
  }
}

.three-col-grid :global(.arr--story-card .arr--hero-image) {
  flex-basis: 40%;
}
.three-col-grid :global(.arr--story-card .arr--content-wrapper) {
  flex-basis: 60%;
}
