/* eslint-disable scss/at-import-partial-extension */
@import "../../../../../../../assets/stylesheets/mixins.scss";

.default,
.hero-priority,
.headline-priority {
  @include tablet {
    margin: var(--arrow-spacing-l);
    @include desktop {
      margin: 40px 0;
    }
  }
}

.adSlot {
  margin-top: var(--arrow-spacing-xl);
}

.hero-video {
  iframe {
    width: 100%;
    height: 190px;
    @include tablet {
      height: 540px;
      @include desktop {
        height: 640px;
      }
    }
  }
}

.header-details :global(.arr--sub-headline) {
  font-size: var(--arrow-fs-s);
  font-style: italic;
  @include tablet {
    font-size: var(--arrow-fs-m);
  }
}

.header-details :global(.section-tag) {
  margin: var(--arrow-fs-m) 0 var(--arrow-fs-tiny);
}

.headline-priority {
  .header-details {
    margin-bottom: var(--arrow-spacing-xl);
  }
  .hero-video {
    iframe {
      @include tablet {
        height: 278px;
      }
      @include desktop {
        height: 423px;
      }
    }
  }
  :global .aside-collection-ad-slot {
    margin: 0 0 var(--arrow-spacing-l);
  }
}

.story-details :global(.arr-author-name) {
  margin-top: var(--arrow-fs-l);
  margin-bottom: var(--arrow-spacing-s);
  @include tablet {
    margin-top: 0;
  }
}

.timestamp-social-share {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--arrow-spacing-s);
  @include tablet {
    margin-top: 0;
  }
}

.author {
  margin-top: var(--arrow-spacing-l);
  @include tablet {
    margin-top: var(--arrow-spacing-xl);
  }
}

.story-tags > * {
  margin: var(--arrow-spacing-l) 0;
}

.hero-priority .aside-collection,
.default .hero-video,
.hero-priority .hero-video {
  grid-column: 1/5;
  @include tablet {
    grid-column: container-start / container-end;
  }
}

.sticky :global(.arr--share) {
  grid-column: 4/5;
  justify-self: flex-end;
  @include desktop {
    position: sticky;
    position: -webkit-sticky;
    align-self: flex-start;
    margin-top: var(--arrow-spacing-xs);
    top: 120px;
  }
}

.header-details :global(.arr--headline h6) {
  font-size: 28px;
  @include tablet {
    font-size: var(--arrow-fs-big);
  }
}

.sticky.default :global(.arr--share) {
  @include tablet {
    grid-column: 8/9;
    grid-row: 2/3;
    @include desktop {
      grid-column: grid-start / container-start;
    }
  }
}

.sticky.headline-priority :global(.arr--share) {
  @include tablet {
    grid-column: 8/9;
    @include desktop {
      grid-row: 2/3;
      grid-column: grid-start / container-start;
    }
  }
}

.sticky.hero-priority {
  :global(.arr--share) {
    @include tablet {
      grid-column: 9 / grid-end;
      @include desktop {
        grid-column: 3/4;
        grid-row: 2/3;
      }
    }
  }
}

.story-content-wrapper {
  grid-column: 1/5;
  @include tablet {
    grid-column: container-start / 9;
    @include desktop {
      grid-column: container-start / 10;
    }
  }
}

.video-story-side-column {
  grid-column: 1/5;
  @include tablet {
    grid-column: 9 / container-end;
    @include tablet {
      grid-column: 10 / container-end;
    }
  }
}

.hero-priority .story-content-wrapper {
  grid-column: 1/5;
  @include tablet {
    grid-column: 4/12;
  }
}

.sticky .index-2 {
  z-index: 2;
  @include desktop {
    z-index: unset;
  }
}

.headline-priority .video-story-side-column {
  @include tablet {
    grid-row: 1/6;
  }
}

.tablet-index-2 {
  @include tablet {
    z-index: 2;
  }
}
