.component-wrapper {
  padding: 0 var(--arrow-spacing-s);
}

.collection-wrapper {
  padding: 0 var(--arrow-spacing-s);
}

.sidebar-collection-wrapper {
  padding: 0 var(--arrow-spacing-s);
}

.story-cards > .card,
.story-cards > .first-card {
  margin-bottom: var(--arrow-spacing-s);
}

.sidebar-cards-container .card {
  margin-bottom: var(--arrow-spacing-m);
}

@media (min-width: 768px) {
  .story-cards > .card,
  .story-cards > .first-card {
    margin-bottom: var(--arrow-spacing-m);
  }
  .sidebar-cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: var(--arrow-spacing-l);
    margin: var(--arrow-spacing-l) 0;
  }
}

@media(min-width: 1025px) {
  .component-wrapper {
    display: grid;
      grid-template-columns: 2fr 1fr;
      grid-column-gap: var(--arrow-spacing-l);
      padding: 0;
  }

  .collection-wrapper {
    padding: 0;
  }

  .sidebar-collection-wrapper {
    padding: 0;
    padding-left: var(--arrow-spacing-m);
  }

  .sidebar-cards-container {
    display: block;
  }
}
